table td li {
	text-indent: -1em;
	margin-left: 1em;
}

.queued {
	background-color: #FEFEFE;
}

tr.queued>td {
	background-color: #FEFEFE;
	background-image: none;
}

.blocked {
	background-color: #EEEEEE;
}

tr.blocked>td {
	background-color: #EEEEEE;
	background-image: none;
}

tr.finished>td {
	background-color: Beige;
	background-image: none;
}

.finished {
	background-color: Beige;
}

tr.active>td {
	background-color: Lavender;
	background-image: none;
}

.active {
	background-color: Lavender;
}

tr.failed>td {
	background-color: LavenderBlush;
	background-image: none;
}

.failed {
	background-color: LavenderBlush;
}

tr.narrow>th {
	min-width: 0px;
}

.detailsContainer {
	width: 100%;
	float: left;
}

table.statusList {
	width: 560px;
	float: left;
	margin-left: -100%;
}

.detailsColumn {
	margin-left: 575px;
}

table.statusList td {
	font-size: 80%;
	padding: 6px 2px 6px 10px;
}

.detailsView {
	border-collapse: collapse;
	border: 1px solid #CCCCCC;
	font-size: 10pt;
}

.detailsContent {
	min-height: 200px;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 5px;
	font-size: 80%;
}

.detailsView h2 {
	background-color: #F7F7F7;
	background-image: url("../images/thead_bg.png");
	background-position: left bottom;
	background-repeat: repeat-x;
	font-size: 10pt;
	font-weight: bold;
	vertical-align: middle;
	border-bottom: 1px solid #CCCCCC;
	padding: 6px 10px;
	color: black;
	margin-bottom: 0px;
}

.jobDetails span {
	font-weight: bold;
	padding-top: 6px;
	line-height: 14px;
	width: 80px;
	display: inline-block;
}


.expandedDetails table.statusList {
	width: 240px;
}

.expandedDetails .detailsColumn {
	margin-left: 255px;
}

.expandedDetails .statusList tr td, .expandedDetails .statusList tr th {
    border: medium none;
    display: block;
    padding: 2px 10px;
    font-size: 70%;
}
.expandedDetails .statusList tr {
    border: 1px solid #CCCCCC;
}
.expandedDetails .statusList tr th {
    background-color: #BABABA;
    background-image: none;
    padding: 5px 10px;
}
.expandedDetails .statusList th:first-child {
    background-image: url("../images/thead_bg.png");
    background-position: top left;
}

.expandDetails {
	cursor: pointer;
}

.detailsLink {
	cursor: pointer;
}

.detailsLink:hover {
	color: #44468A;
}

.refreshDetailsButton {
	cursor: pointer;
	float: right;
	vertical-align: -25%;
}

pre.xmlBody {
	line-height: 14px;
	padding-left: 5px;
}

pre.stacktrace {
	white-space: pre-wrap;
}