<div>
	<h3>Details for ingest</h3> (<span class="<%= data.state.toLowerCase() %>"><%= data.state %></span>, refreshed <%= moment().format('h:mm:ssa') %>)

	<% if (isAdmin || data.depositorName == username) { %>
	<% if (data.state == "failed" || data.state == "paused") { %>
		<p><a href="#" class="resubmit_action" data-uuid="<%= data.uuid %>">Resubmit</a></p>
		<p><a href="/services/api/edit/deposit/<%= data.uuid %>?action=resume" class="monitor_action">Resume</a></p>
	<% } %>
	
	<% if (data.state == "running") { %>
		<p><a href="/services/api/edit/deposit/<%= data.uuid %>?action=pause" class="monitor_action">Pause</a></p>
	<% } %>
	<% } %>
	
	<% if (data.errorMessage) { %>
		<p class="error_message"><label>Error:</label> <%= data.errorMessage %></p>
	<% } %>
	
	<p><label>File:</label> <%= data.fileName %></p>
	
	<p><label>Submitter:</label> <%= data.depositorName %></p>
	
	<p><label>Destination:</label> <a href="/admin/list/<%= data.containerId %>"><%= data.containerId %></a></p>
	
	<% if (data.jobs) { %>
		<p><label>Progress</label>
			<ul class="ingested_files">
		<% for (var i in data.jobs) {
			var job = data.jobs[i];
			%>
			<li><span title="<%- job.shortName %>"><%= job.shortName %></span> <%= job.status %> <%= job.completion %> <%= job.time %></li>
		<% } %>
			</ul>
		</p>
	<% } %>
		
	<% if (data.ingestedFiles) { %>
		<p><label>Ingested Files</label>
			<ul class="ingested_files">
		<% for (var i = data.ingestedFiles.length - 1; i >= 0; i--) {
			var ingestedFile = data.ingestedFiles[i];
			if ("CONTAINER UPDATED" != ingestedFile.file) {
				if ("time" in ingestedFile) { %>
					<li><span title="<%- ingestedFile.file %>"><%= ingestedFile.label %></span> ingested in <%= ingestedFile.time %>ms</li>
				<% } else { %>
					<li><span title="<%- ingestedFile.file %>"><%= ingestedFile.label %></span> <%= data.status %></li>
				<% }
			}
		} %>
			</ul>
		</p>
	<% } %>
	
	<p><label>Deposit ID:</label> <%= data.uuid %></p>
	
	<% if (data.submitTime) { %>
		<p><label>Started:</label> <%= dateFormat(data.submitTime) %></p>
	<% } 
	if (data.failedTime) { %>
		<p><label>Failed:</label> <%= dateFormat(new Date(data.failedTime)) %></p>
	<% } 
	if (data.finishedTime) { %>
		<p><label>Finished:</label> <%= dateFormat(new Date(data.finishedTime)) %></p>
	<% } %>

	<p><label>Priority:</label> <%= data.priority %></p>
</div>
