<div>
	<h3>Details for ingest</h3> (<span class="<%= data.status.toLowerCase() %>"><%= data.status %></span>, refreshed <%= moment().format('h:mm:ssa') %>)
	
	<p><label>Submitter:</label> <%= data.submitter %></p>
	<% if (data.containerPlacements && data.containerPlacements.length > 0) { %>
		<p>
			<label>First Object:</label> <%= data.containerPlacements[0].submittedLabel %>
			<% if (data.containerPlacements[0].submittedPID) { %>
				<br/><%= data.containerPlacements[0].submittedPID %>
			<% } %>
		</p>
		<p><label>Destination:</label> <%= data.containerPlacements[0].containerPID %></p>
	<% } %>
	<p><label>Ingest Progress:</label> <%= data.worked %>/<%= data.size %></p>
	<% if (data.startTime) {
		if (data.finishedTime) { %>
			<p><label>Elapsed:</label> <%= (data.finishedTime-data.startTime)/1000 %> seconds</p>
		<% } else if (data.failedTime != null) { %>
			<p><label>Elapsed:</label> <%= (data.failedTime-data.startTime)/1000 %> seconds</p>
		<% } else { %>
			<p><label>Elapsed:</label> <%= (Date.now()-data.startTime)/1000 %> seconds</p>
		<% }
	}
	
	if (data.ingestedFiles) { %>
		<p><label>Ingested Files</label>
			<ul class="ingested_files">
		<% for (var i = data.ingestedFiles.length - 1; i >= 0; i--) {
			var ingestedFile = data.ingestedFiles[i];
			if ("CONTAINER UPDATED" != ingestedFile.file) {
				if ("time" in ingestedFile) { %>
					<li><span title="<%- ingestedFile.file %>"><%= ingestedFile.label %></span> ingested in <%= ingestedFile.time %>ms</li>
				<% } else { %>
					<li><span title="<%- ingestedFile.file %>"><%= ingestedFile.label %></span> <%= data.status %></li>
				<% }
			}
		} %>
			</ul>
		</p>
	<% } %>
	
	<p><label>Ingest ID:</label> <%= data.id %></p>
	<% if (data.depositId) { %>
		<p><label>Deposit ID:</label> <%= data.depositId %></p>
	<% } %>
	
	<% if (data.startTime) { %>
		<p><label>Started:</label> <%= dateFormat(new Date(data.startTime)) %></p>
	<% } 
	if (data.failedTime) { %>
		<p><label>Failed:</label> <%= dateFormat(new Date(data.failedTime)) %></p>
	<% } 
	if (data.finishedTime) { %>
		<p><label>Finished:</label> <%= dateFormat(new Date(data.finishedTime)) %></p>
	<% } %>
	
	<% if (data.error) { %>
		<h3>Error Log</h3><pre class='stacktrace'> <%= data.error %></pre>
	<% } %>
</div>