<% if (data.isAdmin) { %>
<div class="status_monitor_actions">
  <button id="quiet_pipeline_btn" <%= data.state == "active" ? "" : "disabled" %> title="Stops processing of new deposit jobs, pauses any active jobs">Quiet</button>
  <button id="unquiet_pipeline_btn" <%= data.state == "quieted" ? "" : "disabled" %> title="Resumes processing of new deposit jobs, resumes jobs paused by quieting">Unquiet</button>
  <button id="stop_pipeline_btn" <%= data.state == "active" ? "" : "disabled" %> title="Stops processing of new deposit jobs, interrupts any active jobs. Deposit service must be restarted to resume.">Stop</button>
</div>
<% } %>
<table class="status_monitor_overview">
	<tbody>
		<tr class="column_headers">
			<th>Last Refreshed</th>
			<th>Jobs Queued</th>
			<th>Active</th>
			<th>Failed</th>
			<th>Finished</th>
			<th>Workers</th>
			<th>Pipeline State</th>
		</tr>
		<tr>
			<td><span id="monitorRefreshed"><%= moment().format('YYYY-MM-DD h:mm:ssa') %></span>
			</td>
			<td><span id="monitorQueuedJobs"><%= data.queuedJobs %></span>
			</td>
			<td><span id="monitorActiveJobs"><%= data.activeJobs %></span>
			</td>
			<td><span id="monitorFailedJobs"><%= data.failedJobs %></span>
			</td>
			<td><span id="monitorFinishedJobs"><%= data.finishedJobs %></span>
			</td>
			<td><span id="monitorWorkers"><%= data.workers %></span>
			</td>
			<td><span id="monitorState"><%= data.state %></span>
			</td>
		</tr>
	</tbody>
</table>