<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
 xmlns="http://www.springframework.org/schema/beans">
	<bean id="propertiesURI" class="java.lang.System" factory-method="getProperty">
		<constructor-arg index="0" value="server.properties.uri"/><!-- property name for properties URI location -->
		<constructor-arg index="1" value="classpath:server.properties"/><!-- default location for testing -->
	</bean>
	<bean id="serverProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" ref="propertiesURI"/>
		<property name="ignoreResourceNotFound" value="false"/>
	</bean>
	
	<bean id="irodsAccount" class="org.irods.jargon.core.connection.IRODSAccount">
		<constructor-arg value="${fedora.irods.host}"/>
		<constructor-arg type="int" value="${fedora.irods.port}"/>
		<constructor-arg value="${fedora.irods.username}"/>
		<constructor-arg value="${fedora.irods.password}"/>
		<constructor-arg value="${fedora.irods.homedir}"/>
		<constructor-arg value="${fedora.irods.zone}"/>
		<constructor-arg value="${fedora.irods.resource}"/>
	</bean>
	
	<bean id="org.fcrepo.server.storage.lowlevel.ILowlevelStorage"
		name="org.fcrepo.server.storage.lowlevel.ILowlevelStorage"
		class="fedorax.server.module.storage.lowlevel.irods.IrodsLowlevelStorageModule"
		destroy-method="shutdownModule" init-method="initModule"
		autowire-candidate="true" lazy-init="true">
		<constructor-arg index="0">
			<map/>
		</constructor-arg>
		<constructor-arg index="1" ref="org.fcrepo.server.Server" />
		<constructor-arg index="2" value="org.fcrepo.server.storage.lowlevel.ILowlevelStorage"/>
		<property name="account" ref="fedoraIrodsAccount"/>
		<property name="objectStoreBase" value="/${fedora.irods.zone}/home/${fedora.irods.username}/objects"/>
		<property name="datastreamStoreBase" value="/${fedora.irods.zone}/home/${fedora.irods.username}/datastreams"/>
		<property name="irodsReadBufferSize" value="${fedora.irods.readBufferSize}"/>
		<property name="irodsSocketTimeout" value="${fedora.irods.socketTimeout}"/>
	</bean>
	
	<bean id="org.fcrepo.server.storage.ExternalContentManager"
		name="org.fcrepo.server.storage.ExternalContentManager"
		class="fedorax.server.module.storage.IrodsExternalContentManager"
		depends-on="org.fcrepo.server.storage.lowlevel.ILowlevelStorage">
		<constructor-arg><map></map></constructor-arg>
		<constructor-arg ref="org.fcrepo.server.Server"/>
		<constructor-arg value="org.fcrepo.server.storage.ExternalContentManager"/>
		<property name="irodsAccount" ref="fedoraIrodsAccount"/>
		<property name="irodsReadBufferSize" value="${fedora.irods.readBufferSize}"/>
		<!--property name="irodsSocketTimeout" value="${irods.fedora.socketTimeout"/-->
		<property name="stageConfiguration" value="file:src/test/resources/localConfig.json"/>
	</bean>

</beans>
