/*/.classpath
.project
/*/.settings
/*/target
/*/bin
/*/tmp
/*/dist
/*/doc
/*/build
/.settings
/*/src/jaxb
.DS_Store
/ssh_config
/static.tar.gz
/puppet.tar.gz
.idea
access/src/main/external/static/js/cdr-admin.js
access/src/main/external/static/css/cdr_admin.css
access/src/main/external/static/js/cdr-access.js
access/src/main/external/static/css/cdr_access.css
