/*/.classpath
.project
/*/.settings
/*/target
/*/bin
/*/tmp
/*/dist
/*/doc
/*/build
/.settings
/*/src/jaxb
.DS_Store
/ssh_config
/static.tar.gz
/puppet.tar.gz
.idea
*.iml
static/js/cdr-admin.js
static/css/cdr_admin.css
static/js/cdr-access.js
static/css/cdr_access.css
deposit/fcrepo4-data
velocity.log
dump.rdb
services-camel
**/target
.sass-cache
static/**/*.css.map