[submodule "clamav-java"]
	path = clamav-java
	url = https://github.com/UNC-Libraries/clamav-java.git
[submodule "jp24u"]
	path = jp24u
	url = https://github.com/UNC-Libraries/jp24u.git
[submodule "mp44u"]
	path = mp44u
	url = https://github.com/UNC-Libraries/mp44u.git
