[submodule "oai4solr"]
	url = https://github.com/UNC-Libraries/oai4solr.git
	branch = 7.x-1.0
	path = oai4solr
[submodule "clamavj"]
	url = https://github.com/UNC-Libraries/clamavj.git
	path = clamavj
