/*/.classpath
.project
/*/.settings
/*/target
/*/bin
!/etc/bin
/*/tmp
/*/dist
/*/doc
/*/build
/.settings
/*/src/jaxb
.DS_Store
/ssh_config
/static.tar.gz
/puppet.tar.gz
*/fcrepo4-data
.idea
static/js/cdr-admin.js
static/css/cdr_admin.css
static/js/cdr-access.js
static/css/cdr_access.css
*.log*
*.iml
dump.rdb
authorized_keys
staging-areas
target
fcrepo-cdr-fesl
fcrepo-irods-storage
services-worker
**/activemq-data
