.button.is-link {
    background-color: #1A698C;
    border-radius: 5px;
    font-size: .85rem;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 1.1em 0.8em 1.1em 1.2em;
}

a.button.is-link {
    width: initial;
}

a.button.is-link.disabled {
    background-color: #fff;
    border-color: #dbdbdb;
    color: #555;
}

a.button.is-link span {
    padding-right: 10px;
}

.image-download-options a {
    border: inherit;
    color: black;
}

.image-download-options .dropdown-menu {
    left: unset;
    right: 0;
}

.image-download-options .fa-angle-down {
    margin-left: 8px;
    pointer-events: none;
}

/* This removes the thumbnail search button from clover */
.clover-viewer-media-wrapper div + button {
    display: none !important;
}

/* Match UNC nav bar to the max-width specified in Bulma breakpoints */
@media screen and (min-width: 1024px) {
    body { --unc-utility-bar-width: 960px }
}

@media screen and (min-width: 1216px) {
    body { --unc-utility-bar-width: 1152px }
}

@media screen and (min-width: 1408px) {
    body { --unc-utility-bar-width: 1344px;
    }
}