.button.is-link {
    background-color: #1A698C;
    border-radius: 5px;
    font-size: .85rem;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 1.1em 0.8em 1.1em 1.2em;
}

a.button.is-link {
    width: initial;
}

a.button.is-link.disabled {
    background-color: #fff;
    border-color: #dbdbdb;
    color: #555;
}

a.button.is-link span {
    padding-right: 10px;
}

.browse-header h2 {
    font-size: 2.5rem;
    line-height: 1;
    margin: 0 20px 20px 25px;
    padding-left: 0;
    font-weight: bold;
    color: #0A5274;
    word-wrap: anywhere;
}

.background-white {
    background-color: white;
}

.button.is-primary {
    background-color: #1A698C;
    color: white;
}

.button.is-primary:hover {
    background-color: #084b6b;
}

.image-download-options a {
    border: inherit;
    color: black;
}

.image-download-options .dropdown-menu {
    left: unset;
    right: 0;
}

.image-download-options .fa-angle-down {
    margin-left: 8px;
    pointer-events: none;
}

/* This removes the thumbnail search button from clover */
.clover-viewer-media-wrapper div + button {
    display: none !important;
}