<div class="contentarea">
	<% if (success) { %>
		<div class="description_text descriptivearea">
			<h1>Collecting new items from the <%= name %> deposit bin...</h1>
			<p>
				<a href="review/<%= collectionPID %>">Review</a> collected items after ingest.
			</p>
			<p>
				Track progress in the <a href="statusMonitor">Ingest Monitor</a>.
			</p>
		</div>		
	<% } else { %>
		<div class="description_text descriptivearea">
			<h1 class="error">Failed to collect items from the <%= name %> deposit bin...</h1>
			<p>
				<%= error %>
			</p>
		</div>
	<% } %>
</div>