<form id="create_container_form" method="post" class="edit_form">
	<div class="form_field">
		<label for="add_container_name"><%= options.containerType %> Name <span class="required">*</span></label>
		<input name="name" id="add_container_name" size="38"></input>
	</div>
	<% if (options.containerType == "Collection") { %>
		<div class="form_field">
			<label for="add_container_coll_number">Collection Number</label>
			<input name="coll_number" id="add_container_coll_number" size="38"></input>
		</div>
	<% } %>
	<% if (options.staffOnly) { %>
		<div class="form_field">
			<label for="staff_only">Restrict to staff only access?</label>
			<input id="staff_only" name="staff_only" type="checkbox">
		</div>
	<% } %>
	<div class="update_field">
		<input type="submit" id="create_container_button" class="update_button" value="Create" />
	</div>
</form>