<iframe id="upload_file_frame" name="upload_file_frame" height="0" width="0" style="display: none;"></iframe>
<form id="edit_aspace_ref_id_form" class="edit_form edit_aspace_ref_id_form">
    <div class="form_field">
        <label for="aspace_ref_id_change">Aspace Ref ID</label>
        <input id="aspace_ref_id_change" name="aspace_ref_id" size="40" value="<%= metadata.aspaceRefId %>" />
    </div>

    <div class="update_field">
        <input type="submit" id="edit_aspace_ref_id_submit_button" class="update_button" value="Save Changes" />
    </div>

    <div class="errors">
        <h3>Errors</h3>
        <div class="error_stack">
        </div>
    </div>
</form>