<form id="edit_wcag_compliance_form" class="edit_form edit_wcag_compliance_form">
    <div class="form_field">
        <label for="edit_wcag_compliance"><span class="required">*</span> WCAG Compliance Level</label>
        <select id="edit_wcag_compliance">
            <option value="" <%= (metadata.wcag_level === undefined || metadata.wcag_level === '') ? "selected='selected'" : "" %>>-- Set WCAG Compliance Level --</option>
            <option value="WCAG 1.0 Level A" <%= "WCAG 1.0 Level A" == metadata.wcag_level ? "selected='selected'" : "" %>>WCAG 1.0 Level A</option>
            <option value="WCAG 1.0 Level AA" <%= "WCAG 1.0 Level AA" == metadata.wcag_level ? "selected='selected'" : "" %>>WCAG 1.0 Level AA</option>
            <option value="WCAG 1.0 Level AAA" <%= "WCAG 1.0 Level AAA" == metadata.wcag_level ? "selected='selected'" : "" %>>WCAG 1.0 Level AAA</option>
            <option value="WCAG 2.0 Level A" <%= "WCAG 2.0 Level A" == metadata.wcag_level ? "selected='selected'" : "" %>>WCAG 2.0 Level A</option>
            <option value="WCAG 2.0 Level AA" <%= "WCAG 2.0 Level AA" == metadata.wcag_level ? "selected='selected'" : "" %>>WCAG 2.0 Level AA</option>
            <option value="WCAG 2.0 Level AAA" <%= "WCAG 2.0 Level AAA" == metadata.wcag_level ? "selected='selected'" : "" %>>WCAG 2.0 Level AAA</option>
            <option value="WCAG 2.1 Level A" <%= "WCAG 2.1 Level A" == metadata.wcag_level ? "selected='selected'" : "" %>>WCAG 2.1 Level A</option>
            <option value="WCAG 2.1 Level AA" <%= "WCAG 2.1 Level AA" == metadata.wcag_level ? "selected='selected'" : "" %>>WCAG 2.1 Level AA</option>
            <option value="WCAG 2.1 Level AAA" <%= "WCAG 2.1 Level AAA" == metadata.wcag_level ? "selected='selected'" : "" %>>WCAG 2.1 Level AAA</option>
            <option value="WCAG 2.2 Level A" <%= "WCAG 2.2 Level A" == metadata.wcag_level ? "selected='selected'" : "" %>>WCAG 2.2 Level A</option>
            <option value="WCAG 2.2 Level AA" <%= "WCAG 2.2 Level AA" == metadata.wcag_level ? "selected='selected'" : "" %>>WCAG 2.2 Level AA</option>
            <option value="WCAG 2.2 Level AAA" <%= "WCAG 2.2 Level AAA" == metadata.wcag_level ? "selected='selected'" : "" %>>WCAG 2.2 Level AAA</option>
        </select>
    </div>

    <div class="update_field">
        <input type="submit" id="edit_wcag_compliance_submit_button" class="update_button" value="Save Changes" />
    </div>
    <div class="errors">
        <h3>Errors</h3>
        <div class="error_stack"></div>
    </div>
</form>