<iframe id="upload_file_frame" name="upload_file_frame" height="0" width="0" style="display: none;"></iframe>
<form id="create_simple_object_form" method="post" action="/services/api/edit/accessSurrogate/<%= pid %>" enctype="multipart/form-data" target="upload_file_container" class="edit_form create_simple_object_form">
    <% if (metadata.datastream.findIndex(d => d.startsWith('access_surrogate')) !== -1) { %>
        <p class="access_surrogate">File has an active access surrogate</p>
    <% } %>
    <h3>Add File</h3>
    <div class="form_field">
        <label>File*</label>
        <input type="file" id="data_file" name="file"/>
        <div class="file_info">&nbsp;</div>
    </div>
    <div class="update_field">
        <input type="submit" id="object_submit_button" class="update_button" value="Edit Access Surrogate" />
    </div>
    <div class="errors">
        <h3>Errors</h3>
        <div class="error_stack"></div>
    </div>
</form>