<form id="ingest_source_metadata" class="file_browse_dialog">
	<div class="progress">
		<a class="complete" id="ingest_source_choose" href="#">Choose materials</a>
		<span class="bold"> &rarr; Assign metadata</span>
	</div>
	
	<div class="errors hidden">
		<div class="error_stack"></div>
	</div>
	
	<div class="file_browse_list">
	<table>
	<%
	_.each(selectedCandidates, function(candidate, index) { 
		%>
		<tr class="file_browse_entry">
			<td class="file_browse_type_icon">
				<% if (candidate.type === "BagIt") { %>
					<i class="fas fa-suitcase"></i>
				<% } else { %>
					<i class="fas fa-folder"></i>
				<% } %>
			</td>
			
			<td class="file_browse_entry_data">
				<h2><%= candidate.patternMatched %></h2>
				<div class="file_browse_type_info">Type: <%= candidate.type %>
					<% if (candidate.type === "BagIt") { %>
						<div class="tooltip">
							<i class="fas fa-info-circle"></i>
							<div class="tt-text">
								Version: <%= candidate.version? candidate.version : "unknown" %><br/>
								File Count: <%= candidate.fileCount? candidate.fileCount : "unknown" %><br/>
								Size: <%= candidate.sizeFormatted? candidate.sizeFormatted : "unknown" %>
							</div>
						</div>
					<% } %>
				</div>
				<div class="file_browse_entry_inputs">
					<% if (candidate.type === "BagIt" && !filesOnlyMode) { %>
						<input id="create_parent_input_<%= index %>" type="checkbox" name="create_parent_input">
						<label for="create_parent_input_<%= index %>">Create a new folder for the files in this bag?
							<div class="tooltip">
								<i class="far fa-question-circle"></i>
								<div class="tt-text">
									Check this option to deposit the contents of this Bag into a newly created folder.
									Otherwise the contents of the Bag will be added directly to the deposit destination.
								</div>
							</div>
						</label>
						<br/>
					<% } %>
					<div class="folder_name_form <%= (candidate.type === 'BagIt') ? 'hidden' : '' %>">
						<label for="folder_name_<%= index %>">Folder name <span class="required">*</span></label>
						<input id="folder_name_<%= index %>" type="text" name="folder_name" size="40" value="<%= candidate.filename %>" />
					</div>
					<input id="staff_only_<%= index %>" type="checkbox" name="staff-only"/>
					<label for="staff_only_<%= index %>">Restrict to staff only access?</label>
				</div>
			</td>
			
		</tr>
	<% }); %>
	</table>
	</div>
	
	<div class="update_field">
		<input value="Ingest" class="update_button" type="submit">
	</div>
</form>