<iframe id="upload_file_frame" name="upload_file_frame" height="0" width="0" style="display: none;"></iframe>
<form id="edit_view_settings" class="edit_form edit_view_settings_form">
    <div class="form_field">
        <label for="view_settings_change">Page Display:</label>
        <select id="view_settings_change">
            <option value="individual">Individual</option>
            <option value="ltr" selected="<% metadata.view_settings %>">Left to Right</option>
            <option value="rtl">Right to Left</option>
        </select>
    </div>

    <div class="update_field">
        <input type="submit" id="edit_view_settings_submit_button" class="update_button" value="Save Changes" />
    </div>

    <div class="errors">
        <h3>Errors</h3>
        <div class="error_stack"></div>
    </div>
</form>