<% var containerDeleted = container? !_.contains(container.status, 'Active') : false; %>
<div class="result_header">
	<% if (data.invalidVocabCount) { %>
		<div class="result_warning">
			<span class="warning_symbol">!</span> Warning: <%= data.invalidVocabCount %> item(s) in this result have vocabulary problems.  <a href="invalidVocab/<%= container.id %>">View invalid vocabulary terms</a>
		</div>
	<% } %>
	<div class="result_header_top">
		<div class="container_header">
			<span class="container_entry">
				<h2 class="container_title">
					<% if (container) { %>
						<span class="<%= containerDeleted? "deleted" : "" %>">Reviewing: <%= container.title %></span>
						<img class="action_gear container_menu" src="/static/images/admin/gear.png">
					<% } else { %>
						<span>Reviewing</span>
					<% } %>
				</h2>
			</span>
			<img id="result_loading_icon" class="hidden" src="/static/images/admin/loading_small.gif"/>
		</div>
		<div class="result_table_action_menu">
		</div>
	</div>
	<div class="result_header_bottom">
		<div class="left batch_actions">
			<p class="select_all">
				<input type="checkbox">
			</p>
		</div>
		<div class="right">
			<%= navigationBar %>
		</div>
	</div>
</div>