<form id="run_enhancements_form"class="edit_form">
	<p>
		Enhancements will be performed on the selected objects and their children.
	</p>
	
	<span>
		<input type="checkbox" id="run_enhancements_force" name="run_enhancements_force" /><label for="run_enhancements_force">Rerun previously performed enhancements as well?</label>
	</span>

	<div class="update_field">
		<input type="submit" id="run_enhancements_submit_button" class="update_button" value="Run" autofocus />
	</div>
	
	<div class="errors">
		<h3>Errors</h3>
		<div class="error_stack">
		</div>
	</div>
</form>
