<div class="query_menu">
	<div>
		<div>
			<form id="search_menu_form" method="get" action="doSearch">
				<div class="search_inputwrap">
					<input name="query" class="search_text" type="text" placeholder="Search"/>
					<select name="queryType" class="index_select">
						<option value="anywhere">Anywhere</option>
						<option value="titleIndex">Title</option>
						<option value="contributorIndex">Contributor</option>
						<option value="subjectIndex">Subject</option>
					</select>
				</div>
				<input type="hidden" name="container" class="container_id" value="<%= container? container.id : "" %>"/>
				<input type="hidden" name="within" value="<%= resultUrl %>"/>
				<input type="submit" value="Go" class="search_submit"/>
				<p class="search_within">
					<input type="radio" value="" name="searchType" value=""/>Everything
					<span class="search_folder<% if (!container) { %> hidden<% } %>">
						<input type="radio" <% if (container) { %>checked="checked"<% } %> name="searchType" value="container" />Current folder
					</span>
					<input type="radio" name="searchType" value="within"/>Within results
				</p>
			</form>
			<% if (containerPath) { %>
				<div class="results_header_hierarchy_path">
					<%= containerPath %>
				</div>
			<% } %>
		</div>
	</div>
</div>
<div class="filter_menu">
	<div>
		<h3>Filters</h3>
		<div class="limits_panel" 
				 data-facets="collection,dept,language,subject,role,status,format,type,model,contentStatus"
				 data-href="facets<%= container? "/" + container.id : "" %>?facetSelect=collection,dept,language,subject,role,status,format,type,model,contentStatus<%= filterParams? "&" + filterParams : "" %>">
			<div class="center"><img src="/static/images/admin/loading_small.gif"/></div>
		</div>
	</div>
	<div>
		<h3>Structure</h3>
		<div data-href="structure/<%= container? container.id + "/" : "" %>path" id="structure_facet">
			<div class="center"><img src="/static/images/admin/loading_small.gif"/></div>
		</div>
	</div>
	
</div>