<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>DEBUG</level>
      <onMatch>ACCEPT</onMatch>
    </filter>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>INFO</level>
      <onMatch>ACCEPT</onMatch>
    </filter>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>TRACE</level>
      <onMatch>ACCEPT</onMatch>
    </filter>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>WARN</level>
      <onMatch>DENY</onMatch>
    </filter>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>DENY</onMatch>
    </filter>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>
  <appender name="APP_LOG" class="ch.qos.logback.core.FileAppender">
      <file>target/current.log</file>
      <append>true</append>
      <encoder>
          <pattern>%d %-5level [%thread] %logger{35} - %msg%n</pattern>
      </encoder>
  </appender>
  <logger name="output" level="INFO" additivity="false">
      <appender-ref ref="STDOUT"/>
      <appender-ref ref="STDERR"/>
  </logger>
  <root level="INFO">
    <appender-ref ref="APP_LOG"/>
  </root>
</configuration>