@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400i|Open+Sans:400,600");
body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #007FAE;
}

.logo-row {
  background-color: #4B9CD3;
}

.logo-row-small {
  background-color: #4B9CD3;
  padding: 5px 0;
}

.menu-row, .banner-row, footer {
  background-color: #13294B;
}

.info-row {
  background-color: #F5F5F5;
}

.logo, .menu {
  padding: 12px 0;
}

@media only screen and (max-width: 1088px) {
  .logo, .logo-small {
    margin-left: 5px;
    margin-right: 16px;
  }
}
.logo a, .logo-small a {
  display: inline-flex;
  align-items: center;
  max-width: 550px;
}
.logo img, .logo-small img {
  display: inline-block;
  max-width: 250px;
  width: 100%;
  margin: 8px 0;
}
.logo h1, .logo-small h1 {
  display: inline-block;
  margin-left: 24px;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.7rem;
  font-style: italic;
  color: white;
  line-height: 1.5;
}
.logo .info-btns, .logo-small .info-btns {
  float: right;
  padding-top: 13px;
}
.logo .info-btns a, .logo-small .info-btns a {
  margin-left: 10px;
}

.logo-large a {
  max-width: 650px;
}

.logo-small a, .logo-small i {
  color: white;
  font-size: 16px;
}
.logo-small img {
  max-width: 150px;
}
.logo-small h1 {
  font-size: 1.5rem;
}

.navbar {
  box-shadow: 2px 2px 2px 0 #071730;
}
.navbar a {
  color: white;
}
.navbar .is-active {
  background-color: #13294B;
}

.menu-row-small {
  background-color: #13294B;
}

.search a {
  margin-left: 10px;
}

.menu-row-small.navbar {
  box-shadow: none;
}
.menu-row-small.navbar button {
  border-radius: 0 5px 5px 0;
  height: 35px;
  margin-left: -1px;
  border: 1px solid #dbdbdb;
}
.menu-row-small.navbar .is-active .navbar-item {
  color: black;
  padding: .35rem;
}
.menu-row-small.navbar .navbar-display {
  display: none;
}
.menu-row-small.navbar .navbar-menu.is-active {
  background-color: white;
  margin-top: 65px;
  position: absolute;
}

.banner-row {
  background-image: url(/static/front/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 10px black;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 300px;
}
.banner h2 {
  max-width: 700px;
  padding: 24px 32px;
  font-size: 2rem;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  line-height: 1.5;
}
.banner a.button {
  background-color: #4B9CD3;
}

header .search {
  display: flex;
  align-items: center;
  padding: 6px 0;
}
@media only screen and (max-width: 1088px) {
  header .search {
    margin-left: 5px;
    margin-right: 16px;
  }
}
header .search label {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
header .search input {
  border: 1px solid lightgray;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 1rem;
  height: 35px;
  padding: 7px;
  width: 100%;
}
header .search a {
  flex-shrink: 0;
  color: white;
  font-size: 16px;
}
header .search a:hover, header .search a:active {
  color: #4B9CD3;
}
header .search-row-large {
  background-color: #13294B;
}
header .search-large input, header .search-large button {
  height: 40px;
}
header .search-large input {
  font-size: 1.2rem;
}
header .search-large button {
  border-radius: 0 5px 5px 0;
  margin-left: -1px;
  border: 1px solid #dbdbdb;
}

.collection-links {
  margin: 2rem 0;
}

.collection-link-row {
  display: flex;
  justify-content: center;
}
.collection-link-row:not(:first-child) {
  margin-top: 32px;
}
.collection-link-row a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 16px 0 16px;
  padding: 16px;
  border-radius: 16px;
  background-color: #e0e0e0;
  box-shadow: 2px 2px 2px #d5d5d5;
}
.collection-link-row a:hover {
  text-decoration-color: white;
}
.collection-link-row img {
  max-width: 300px;
  width: 100%;
}
.collection-link-row span {
  display: inline-block;
  width: 100%;
  margin-top: 4px;
  font-size: 1.25rem;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.55);
  padding: 5px 0;
}
@media only screen and (max-width: 720px) {
  .collection-link-row {
    display: block;
    width: 100%;
    margin: auto 16px;
  }
  .collection-link-row:not(:first-child) {
    margin-top: 0;
  }
  .collection-link-row a {
    margin: 16px auto;
  }
}

.info-row {
  box-shadow: inset 0 0 8px grey;
}
.info-row .info {
  padding: 24px 0;
  text-align: center;
}
@media only screen and (max-width: 1088px) {
  .info-row .info {
    margin-left: 5px;
    margin-right: 16px;
  }
}
.info-row .info p {
  font-size: 1rem;
}
.info-row .info h3 {
  font-size: 1.5rem;
}

.info-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 16px 0;
  vertical-align: center;
  color: white;
  font-size: 1rem;
}
.info-icons a {
  color: white;
  padding: 0 16px 0 0;
  background-color: #3e2b4e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-icons div {
  display: flex;
  margin: 16px 12px;
}
.info-icons i {
  width: 50px;
  margin-right: 15px;
  padding: 12px;
  font-size: 1.5rem;
  background-color: #715f80;
}

#about-repo {
  margin-bottom: 32px;
  padding: 0 16px;
  width: 100%;
}

footer {
  color: white;
  display: inline-flex;
  text-align: center;
  width: 100%;
  flex-wrap: wrap;
}
footer .footer-menu {
  padding: 12px 0;
}
@media only screen and (max-width: 1088px) {
  footer .footer-menu {
    margin-left: 5px;
    margin-right: 16px;
  }
}
footer a {
  color: white;
  font-size: 16px;
}
footer a:hover, footer a:active {
  color: #4B9CD3;
}

@media only screen and (min-width: 1088px) {
  .menu-row-small.navbar > .container .navbar-menu {
    margin-right: 150px;
  }

  .search-row {
    width: 100%;
  }

  header .search {
    margin: auto;
  }
}
@media only screen and (max-width: 1087px) {
  .menu-row-small.navbar > .container {
    display: inline-flex;
    flex-direction: row-reverse;
  }

  .menu-row-small.navbar .navbar-menu.is-active {
    background-color: white;
    margin-top: 65px;
    position: absolute;
    z-index: 25;
  }

  .search-row {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .info-btns {
    display: none;
  }

  header .search {
    display: block;
  }
  header .search a {
    margin-left: 5px;
  }
  header .search form {
    display: inline-flex;
  }

  .menu-row-small .search button {
    margin-right: 0;
  }
  .menu-row-small .search a {
    margin-bottom: 5px;
    margin-right: -5px;
  }
  .menu-row-small .search a, .menu-row-small .search button {
    float: right;
  }

  .menu-row-small.navbar .navbar-menu.is-active {
    margin-top: 50px;
  }
  .menu-row-small.navbar .navbar-display {
    display: block;
  }
}
/* Items marked for deletion */
.marked-delete {
  color: #8CB4C6;
}
.marked-delete:hover {
  color: #8CB4C6;
}
.marked-delete img {
  opacity: .8;
}

/**
*
* Search pages
*
**/
.search-query-text {
  margin: 40px 20px 40px 25px;
  font-size: 24px;
}
.search-query-text h2 {
  color: black;
  font-size: 28px;
  font-weight: bold;
  min-height: 40px;
}
.search-query-text h2 span.query-request {
  font-style: italic;
  font-weight: normal;
}

a.search-result-num {
  background-color: #1A698C;
  color: white !important;
  padding: 15px;
  font-weight: bold;
}
a.search-result-num:hover {
  background-color: #4B9CD3;
  color: white;
  text-decoration: none;
}

.search-result-selected {
  background-color: gray;
  color: white !important;
  padding: 15px;
  font-weight: bold;
}
.search-result-selected:hover {
  background-color: #B0B0B0;
  color: white;
  text-decoration: none;
}

.facets {
  margin-bottom: 30px;
}

.check-facet {
  height: 25px;
  width: 25px;
}

.facet-padding {
  padding-left: 15px;
}

.facet-header {
  color: black;
  font-size: 20px;
  padding: 30px 0 20px 0;
}

label.checkbox {
  float: none;
  width: 100%;
}

.search-results-border {
  border-bottom: 1px solid #E1E1E1;
  border-left: 1px solid #E1E1E1;
  padding-left: 15px;
  padding-right: 0;
}

p.spacing {
  font-size: 1.2rem;
  margin-bottom: 50px;
  text-align: center;
}

.bottomline {
  display: inline-flex;
}
.bottomline p {
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  width: 70%;
}

.browseitem {
  font-size: 16px;
  padding-left: 25px;
}
.browseitem h2 {
  font-size: 20px;
}
.browseitem p, .browseitem span {
  font-size: 16px;
}

.searchitem {
  font-size: 16px;
  padding: 25px;
}

#list-records-display .searchitem_container_count {
  background-color: #4B9CD3;
  border: 1px solid #4B9CD3;
  border-radius: 5px;
  color: white;
  line-height: 18px;
  margin-bottom: 4px;
  padding: 3px 8px;
  white-space: nowrap;
  width: 100%;
}

.iteminfo {
  float: none;
  margin-top: 5px;
  width: 100%;
  font-size: 16px;
}
.iteminfo h2 {
  font-size: 20px;
}
.iteminfo h2 > span {
  padding: 3px 5px;
  font-size: 16px;
}

h2.iteminfo {
  line-height: 30px;
  margin-bottom: 20px;
}

.border-box-left-top {
  -webkit-box-shadow: inset 3px 3px 10px -1px rgba(211, 211, 211, 0.5), 0px 16px 22px -15px rgba(211, 211, 211, 0.5);
  -moz-box-shadow: inset 3px 3px 10px -1px rgba(211, 211, 211, 0.5), 0px 16px 22px -15px rgba(211, 211, 211, 0.5);
  box-shadow: inset 3px 3px 10px -1px rgba(211, 211, 211, 0.5), 0px 16px 22px -15px rgba(211, 211, 211, 0.5);
}

.shadowtop + .facet-padding {
  margin-top: 125px;
}

.search-pagination-bottom {
  margin: 20px auto;
  text-align: center;
}

p.no-search-results {
  font-size: 14px;
}

#advanced-search-form p {
  font-size: 12px;
}

/* Collection Page */
.browse-header {
  background-color: #EBEBEB;
  box-shadow: inset 0 10px 5px -5px rgba(0, 0, 0, 0.5);
  color: #3D4D5B;
  margin: 0;
  padding: .75rem;
}
.browse-header h2 {
  font-size: 36px;
  font-weight: bold;
  margin: 15px;
}
.browse-header h2 span {
  color: #707070;
  font-size: 20px;
  font-weight: normal;
  margin-left: 10px;
}
.browse-header p {
  color: black;
  font-size: 18px;
  line-height: 22px;
  margin-left: 25px;
}

.browse-header.browse-header-bottom {
  padding-bottom: 25px;
}

.search-query-text.collection-list {
  margin-bottom: 0;
}

.collection-browse .browseitem {
  background-color: #f7f7f7;
  margin: 10px 15px;
  width: 98%;
}
.collection-browse .searchitem_container_count {
  background-color: inherit;
  border: none;
  color: gray;
  font-size: inherit;
}
.collection-browse:last-child {
  margin-bottom: 50px;
}

/* Full record page */
.columns {
  width: 100%;
}

.display-wrapper {
  display: inline-flex;
  margin: 5px 25px 10px 0;
  width: 100%;
}
.display-wrapper p, .display-wrapper a {
  font-size: 20px;
}
.display-wrapper div:hover {
  cursor: grab;
  text-decoration: none;
  z-index: 100;
}
.display-wrapper div:hover span.browse-tip, .display-wrapper div:hover .arrow {
  display: block;
  opacity: 1;
}
.display-wrapper div:hover span.browse-tip {
  background-color: white;
  border: 1px solid darkslategray;
  border-radius: 5px;
  color: black;
  font-weight: normal;
  margin: 0 0 10px -65px;
  padding: 10px;
  text-align: left;
  width: 240px;
}
.display-wrapper div:hover span.browse-tip p {
  font-size: 14px;
}
.display-wrapper div .arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid darkslategray;
  height: 0;
  margin: 7px 2px 0 2px;
  width: 0;
}
.display-wrapper div span.browse-tip, .display-wrapper div .arrow {
  display: none;
}
.display-wrapper button {
  margin-left: 10px;
  margin-top: -10px;
}
.display-wrapper .display-note-btn {
  background-color: #4B9CD3;
  border: 1px solid #4B9CD3;
  border-radius: 100%;
  color: white;
  font-weight: bold;
  height: 25px;
  margin-left: 5px;
  margin-top: -5px;
  padding: 4px 5px;
  text-align: center;
  width: 25px;
}

.file_record .columns {
  width: 100%;
}

.collection-info-bottom {
  padding: 0 5px 5px 5px;
  margin: -12px 0 0 0;
}

/* Work page */
.jp2_imageviewer_window {
  margin: 15px;
  width: auto;
}

/* DataTables  */
#child-files_wrapper div {
  margin: 15px 0 !important;
}

#child-files_filter label {
  float: right;
  width: 250px;
}

.input::placeholder, .input {
  color: black;
}

.dataTables_wrapper {
  margin-bottom: 50px;
}

.child-records {
  font-size: 16px;
  margin: 50px 50px 75px 50px;
}
.child-records h3 {
  font-size: 16px;
  margin-bottom: 30px;
}
.child-records .fa.default-img-icon {
  font-size: 32px;
  color: #1A698C;
}
.child-records .is-icon {
  background-color: #1A698C;
  border: 1px solid #1A698C;
  border-radius: 5px;
  color: white;
  padding: 7px;
}

.onecol, .content-wrap.full_record {
  width: 100%;
}
.onecol h2, .content-wrap.full_record h2 {
  font-size: 2.5rem;
  line-height: 1;
  margin: 0 20px 20px 0;
  padding-left: 0;
}
.onecol h2, .content-wrap.full_record h2 {
  margin-left: 25px;
}
.onecol h2.link-list, .content-wrap.full_record h2.link-list {
  font-size: 20px;
  padding-left: 15px;
  padding-top: 10px;
}
.onecol .browse-header h2.item-title, .content-wrap.full_record .browse-header h2.item-title {
  padding-left: 15px;
}
.onecol .relateditem p, .content-wrap.full_record .relateditem p {
  font-size: 16px;
}
.onecol .aggregate-info .is-narrow-tablet, .content-wrap.full_record .aggregate-info .is-narrow-tablet {
  margin-left: 25px;
}

.contentarea {
  margin: 20px;
}

.item-title {
  font-size: 36px;
}

.item-actions {
  padding-right: 25px;
}

.full_record_top {
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 25px;
}
.full_record_top .collinfo {
  width: 100%;
}
.full_record_top .item-info {
  margin-left: 15px;
}
.full_record_top .columns {
  margin-bottom: 0;
}
.full_record_top .action-btn {
  padding-right: 50px;
}
.full_record_top .bottomline {
  padding: .75rem;
}

.full_record .contentarea {
  margin: 0;
}
.full_record .contentarea-aggregate .collinfo_metadata {
  margin: 25px;
  width: 100%;
}

#full_record_trail {
  border: 1px solid #E0E0E0;
  background-color: #E0E0E0;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.2;
  margin: 0 auto 25px auto;
  padding: 20px;
  text-indent: 0;
  width: 100%;
}
#full_record_trail a {
  color: #1A698C;
}

#expand-breadcrumb {
  font-size: 24px;
}

.actionlink a {
  color: white;
}

.actionlink.view {
  max-width: 60px;
}
.actionlink.view a {
  margin: auto;
}

table.dataTable tbody tr.odd {
  background-color: #E1E8FF;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  border-radius: 5px;
}

.item-actions .actionlink a {
  font-size: 16px;
  padding: 15px 15px 30px 15px;
  vertical-align: middle;
}

.collinfo_metadata {
  margin: 0 0 20px 0;
}
.collinfo_metadata h2 {
  font-size: 24px;
}
.collinfo_metadata ul {
  font-size: 16px;
}

#child-files {
  border: 1px solid #E1E1E1;
  border-collapse: collapse;
  width: 100%;
  word-wrap: break-word;
}
#child-files thead {
  font-weight: bold;
}
#child-files th {
  border: 1px solid #E1E1E1;
}
#child-files td {
  border-left: 1px solid #E1E1E1;
  border-right: 1px solid #E1E1E1;
}
#child-files th, #child-files td {
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

#is-folder .is-12 {
  padding-top: 0;
}

.columns-resize {
  padding-left: 25px;
}
.columns-resize .is-10 {
  padding-left: 25px;
}

.aggregate-info {
  padding-left: 0;
}
.aggregate-info .thumbnail-preview {
  padding-left: 15px;
}

.pipe_list {
  margin-bottom: 10px;
}

/* Bulma overrides */
.select {
  margin-bottom: 15px;
}

/*** End of Bulma overrides ***/
/* Following Bulma breakpoints */
@media screen and (max-width: 1215px) {
  .collection-browse .browseitem {
    margin: 10px auto;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .bottomline {
    display: block;
  }
  .bottomline p {
    width: 100%;
  }

  .actionlink {
    margin-bottom: 1px;
  }

  .pipe_list {
    margin-left: 15px;
  }

  .select.is-medium {
    font-size: 1.05rem;
  }

  #child-files_wrapper {
    overflow-x: scroll;
  }

  .collection-info-bottom {
    margin: 0 25px 25px 25px;
  }
}
@media screen and (max-width: 768px) {
  .facet-padding {
    padding-left: 5px;
  }

  a.search-result-num {
    display: inline-block;
    margin-top: 15px;
  }

  .bottomline p {
    font-size: 16px;
    margin-left: 10px;
    width: 100%;
  }

  .light {
    float: none;
  }

  .file_record .item-actions {
    padding-left: 40px;
  }

  #is-admin-unit.browse-header, #is-collection.browse-header {
    display: flex;
  }

  .actionlink.right {
    float: left;
  }

  .collinfo_metadata {
    margin: auto 0;
  }

  .item-title {
    margin-bottom: 0;
  }

  .columns-resize {
    margin-top: 50px;
    padding-bottom: 50px;
  }
  .columns-resize .thumbnail {
    margin-right: 35px;
  }
  .columns-resize .is-10 {
    padding-left: 0;
  }
  .columns-resize .is-10 ul {
    margin-top: -25px;
  }

  .action-btn {
    padding-left: 40px;
    padding-top: 0;
  }

  .aggregate-record.browse-header .action-btn {
    padding-left: 30px;
  }

  .dataTables_wrapper .dataTables_filter {
    float: left !important;
  }
  .dataTables_wrapper .dataTables_filter input {
    margin-left: 0 !important;
    margin-top: 25px;
    float: left;
  }
}
/* CDR custom breakpoint */
@media screen and (max-width: 600px) {
  .contentarea {
    float: none;
    width: 100%;
  }
  .contentarea a {
    float: none;
    width: 100%;
  }
  .contentarea h2 .fa {
    display: none;
  }

  .file_record .columns-resize .is-10 ul {
    margin-top: 0;
  }

  .relateditem {
    margin-left: 5px;
    margin-right: 5px;
  }

  .iteminfo {
    float: none;
    width: 100%;
  }

  .file-info {
    float: none;
    width: 100%;
  }
  .file-info p, .file-info .actionlink, .file-info .right {
    float: none;
    text-align: left;
  }
  .file-info .actionlink a {
    margin-top: 15px;
  }

  .facets {
    word-wrap: break-word;
  }

  .collection-info-bottom {
    margin: 0;
    word-break: break-all;
  }
}

/*# sourceMappingURL=cdr-ui.css.map */
