body {
	text-align: center;
	font-family: verdana, sans-serif;
	background-color: #ececec;
	color: #222;
	font-size: 12px;
	line-height: 17px;
}

/* Layout */
#pagewrap {
	width: 960px;
	margin: 0 auto 0 auto;
}

#pagewrap_inside {
	width: 100%;
	float: left;
	background-color: #fff;
	text-align: left;
}

#header,#content,#footer {
	width: 100%;
	float: left;
	position: relative;
}

body.full_screen {
	overflow: hidden;
}

.full_screen #header, .full_screen #footer {
	display: none;
}

.full_screen #content {
	position: absolute;
	width: 100%;
	height: 100%;
}

#header {
	z-index: 2;
}

#footer {
	margin: 0 0 -20px 0;
}

#footer_uncwell {
	float: right;
	margin: -7px 0 0;
}

.fourcol,.twocol,.threecol {
	float: left;
}

.fourcol {
	width: 240px;
}

.onecol {
	width: 960px;
	float: left;
}

.twocol {
	width: 480px;
}

.threecol {
	width: 720px;
}

.cdr-header {
	margin: 10px 20px 20px 20px;
}

.contentarea {
	margin: 20px;
}

.darkest {
	background-color: #053a53;
	float: left;
}

.dark {
	background-color: #0a5274;
	float: left;
}

.medium {
	background-color: #5aabcf;
	float: left;
}

.light {
	background-color: #dfebf1;
	float: left;
}

.lightest {
	background-color: #ebf5fa;
	float: left;
}

.gray {
	background-color: #f3f3f3;
	float: left;
}

.white {
	background-color: #fff;
	float: left;
}

.shadowtop {
	box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.15) inset
}

.shadowbottom {
	box-shadow: 0 -8px 8px -8px rgba(0, 0, 0, 0.15) inset;
}

.shadowright {
	background-image: url('/static/images/cdrui_contentshadowright.png');
	background-repeat: repeat-y;
	background-position: top right;
}

.hidden {
	visibility: hidden;
	display: none !important;
}

.right {
	float: right;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

.nowrap {
	white-space: nowrap;
}

/** Typography */

a {
	color: #1A698C;
	text-decoration: none;
}

a:hover {
	color: #2193AF;
	text-decoration: underline;
}

h2 {
	font-size: 16px;
	color: #0A5274;
	font-weight: normal;
	margin-bottom: 10px;
	line-height: 19px;
}

h3 {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
}

p, ul {
	font-size: 12px;
	line-height: 17px;
	margin-bottom: 8px;
}

li {
	margin-bottom: 5px;
	text-indent: -15px;
	margin-left: 15px;
}

.bold {
	font-weight: bold;
}

.indent_content {
	margin-left: 10px;
}

/** Header menu */

#cdr-logo {
	margin: 20px 0 30px 0;
	word-spacing: -4px;
	letter-spacing: -1px;
}

/*Header Top Bar*/

#topbar {
	background-color: #001B28;
	height: 25px;
	font-family: helvetica;
	color: #fff;
}

#topbar > li {
	float: right;
	text-indent: 0;
	margin: 0;
}

#topbar > li > a {
	display: block;
	padding: 4px 25px;
	color: #ebf5fa;
}

.topbar-menu-option {
	color: #fff;
	cursor: pointer;
}

.topbar-menu-option:hover {
	background-color: #ebf5fa;
}

#topbar > li:hover > a {
	color: #001B28;
	text-decoration: none;
}

#topbar li#login {
	font-weight: 600;
}

#mainmenu {
	margin: 0;
	
	padding: 0;
}

#mainmenu > li {
	float: left;
	margin: 0;
	text-indent: 0;
	margin-right: 2px;
	font-family: helvetica;
	font-size: 16px;
	background-color: #E6E9EC;
}

.submenu {
	visibility: hidden;
	position: absolute;
	width: 280px;
}

#mainmenu > li > a, .submenu > li > a{
	color: #053a53;
	padding: 8px 20px;
	line-height: 25px;
	display: block;
}

#mainmenu > li > a:hover {
	background-color: #C8DFF0;
	background-image: none;
}

#mainmenu > li > .active {
	background-color: #7BAFD4;
	background-image: none;
}

#mainmenu > li:hover > ul,#mainmenu > a:hover > ul {
	visibility: visible;
}

.submenu {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	margin-left: -1px;
	z-index: 1;
}

.submenu > li {
	background-color: #fff;
	padding: 0;
	margin: 0;
	display: block;
	width: 100%;
	border-bottom: 1px solid #fff;
	float: none;
	z-index: 100;
}

.submenu > li > a {
	background-color: #7abcd9;
	background-image: none;
	margin: 0;
	padding: 0 20px;
	border: none;
	float: none;
	display: block;
	z-index: 101;
}

.submenu > li > a:hover {
	background-color: #93cee8;
}

.secondarymenu {
	margin: 0 0 0 0;
	float: right;
}

.secondarymenu > li {
	float: left;
	margin: 10px 0 0 0;
	text-indent: 0px;
}

.secondarymenu > li > a {
	display: block;
	padding: 0 20px;
	height: 30px;
	line-height: 30px;
	color: #dfebf1;
	background-color: #084b6b;
	background-image: url('/static/images/cdrui_contentshadowbottom.png');
	background-repeat: repeat-x;
	background-position: bottom left;
	text-decoration: none;
	border-right: 1px solid #0A5274;
}

.secondarymenu > li > a:hover {
	background-color: #165d7f;
	text-decoration: none;
	color: #fff;
}

.secondarymenu > li > .active {
	background-color: #fff;
	background-image: none;
}

/** Faceting */
.facets {
	line-height: 14px;
	margin-bottom: 15px;
	margin-left: 15px;
}

.crumblist {
	font-size: 11px;
	line-height: 15px;
}

.crumblist > li {
	margin-left: 22px;
	text-indent: -22px;
}

.crumblist a {
	text-decoration: underline;
	color: #0a5274;
}

/** Icons **/
.resource_icon {
	background-image: url('/static/images/resource-types.png');
	height: 16px;
	width: 16px;
	display: inline-block;
}

.deleted .resource_icon {
	opacity: 0.3;
}

.resource_icon.collection { background-position: 0px 0px; }
.resource_icon.folder { background-position: -16px 0px; }
.resource_icon.aggregate { background-position: -32px 0px; }
.resource_icon.file { background-position: -48px 0px; }

/** Logo word spacing in Safari **/

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) 
{ @media {
  #cdr-logo {
    word-spacing: -2px;
    }
}}