body {
	text-align: center;
	font-family: verdana, sans-serif;
	background-color: #ececec;
	color: #222;
	font-size: 12px;
	line-height: 17px;
}

/* Layout */
#pagewrap {
	width: 960px;
	margin: 0 auto 0 auto;
}

#pagewrap_inside {
	width: 100%;
	float: left;
	background-color: #fff;
	text-align: left;
}

#content {
	width: 100%;
	float: left;
	position: relative;
}

body.full_screen {
	overflow: hidden;
}

.full_screen #content {
	position: absolute;
	width: 100%;
	height: 100%;
}

.fourcol,.twocol,.threecol {
	float: left;
}

.fourcol {
	width: 240px;
}

.onecol {
	width: 960px;
	float: left;
}

.twocol {
	width: 480px;
}

.threecol {
	width: 720px;
}

.cdr-header {
	margin: 10px 20px 20px 20px;
}

.contentarea {
	margin: 20px;
}

.darkest {
	background-color: #053a53;
	float: left;
}

.dark {
	background-color: #0a5274;
	float: left;
}

.medium {
	background-color: #5aabcf;
	float: left;
}

.light {
	background-color: #dfebf1;
	float: left;
}

.lightest {
	background-color: #ebf5fa;
	float: left;
}

.gray {
	background-color: #f3f3f3;
	float: left;
}

.white {
	background-color: #fff;
	float: left;
}

.shadowtop {
	box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.15) inset
}

.shadowbottom {
	box-shadow: 0 -8px 8px -8px rgba(0, 0, 0, 0.15) inset;
}

.shadowright {
	background-image: url('/static/images/cdrui_contentshadowright.png');
	background-repeat: repeat-y;
	background-position: top right;
}

.hidden {
	visibility: hidden;
	display: none !important;
}

.right {
	float: right;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

.nowrap {
	white-space: nowrap;
}

/** Typography */

a {
	color: #1A698C;
	text-decoration: none;
}

a:hover {
	color: #2193AF;
	text-decoration: underline;
}

h2 {
	font-size: 16px;
	color: #0A5274;
	font-weight: normal;
	margin-bottom: 10px;
	line-height: 19px;
}

h3 {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
}

p, ul {
	font-size: 12px;
	line-height: 17px;
	margin-bottom: 8px;
}

li {
	margin-bottom: 5px;
	text-indent: -15px;
	margin-left: 15px;
}

.bold {
	font-weight: bold;
}

.indent_content {
	margin-left: 10px;
}

/** Faceting */
.facets {
	line-height: 14px;
	margin-bottom: 15px;
	margin-left: 15px;
}

.crumblist {
	font-size: 11px;
	line-height: 15px;
}

.crumblist > li {
	margin-left: 22px;
	text-indent: -22px;
}

.crumblist a {
	text-decoration: underline;
	color: #0a5274;
}

/** Icons **/
.resource_icon {
	background-image: url('/static/images/resource-types.png');
	height: 16px;
	width: 16px;
	display: inline-block;
}

.deleted .resource_icon {
	opacity: 0.3;
}

.resource_icon.collection { background-position: 0px 0px; }
.resource_icon.folder { background-position: -16px 0px; }
.resource_icon.aggregate { background-position: -32px 0px; }
.resource_icon.file { background-position: -48px 0px; }

/** Logo word spacing in Safari **/

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) 
{ @media {
  #cdr-logo {
    word-spacing: -2px;
    }
}}