.browseitem {
	color: #555;
	width: 100%;
}

.browseitem p {
	margin-bottom: 4px;
	font-size: 11px;
	line-height: 14px;
	width: 100%;
}

#full_record .thumbnail {
	margin-right: 25px;
}

/** Thumbnail styles **/

.thumbnail {
	display: block;
	position:relative;
	margin: 0;
	object-fit: contain;
	word-break: break-word;
	text-align: center;
}

.thumbnail .thumbnail-viewer {
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 64px;
	height: 64px;
	margin: 0 auto;
}

.thumbnail.thumbnail-size-medium .thumbnail-viewer {
	width: 112px;
	height: 112px;
}

.thumbnail.thumbnail-size-large .thumbnail-viewer {
	width: 128px;
	height: 128px;
	margin-top: .25rem;
}

.thumbnail .thumbnail-preview {
	opacity: 1;
	transition: opacity 0.3s;
}

.thumbnail .thumbnail-badge {
	position: absolute;
	font-size: 100%;
	right: -6px;
	bottom: -6px;
}

.thumbnail.thumbnail-size-medium .thumbnail-badge {
	font-size: 150%;
	right: -12px;
	bottom: -12px;
}

.thumbnail.thumbnail-size-large .thumbnail-badge {
	font-size: 200%;
	right: 2px;
	bottom: 0;
}

.browse-records-display .thumbnail.thumbnail-size-large .thumbnail-badge {
	right: 12px;
	bottom: -12px;
}

.thumbnail .placeholder {
	font-size: 64px;
}

.thumbnail.thumbnail-size-medium .placeholder {
	font-size: 112px;
}

.thumbnail.thumbnail-size-large .placeholder {
	font-size: 128px;
}

.thumbnail-badge .background {
	color: #333;
}

.thumbnail-badge .foreground {
	color: #fff;
}

.breadcrumbs {
	min-height: 125px;
}

.right {
	float: right;
	text-align: right;
	margin-right: 0;
}

.left {
	float: left;
	text-align: left;
}

.browseitem:nth-child(odd) {
	background-color: #f7f7f7;
}

/* Typography */
h1 {
	font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
	font-size: 22px;
}

.light h2,.lightest h2,.gray h2 {
	color: #0a5274;
}


.dark a,.darkest a {
	text-decoration: none;
}

.white h2 {
	color: #919FA5;
}

.full_record_browse {
	padding: 5px 0 0 5px
}

.actionlink {
	margin: 5px 5px 20px 0;
}

.actionlink a.action {
	display: block;
	font-size: 12px;
	border: 1px solid #084b6b;
	padding: 5px 10px;
	cursor: pointer;
	background-color: #14668d;
	text-decoration: none;
	line-height: 12px;
}

.actionlink a.action:hover {
	color: #fff;
	background-color: #084b6b;
}

.description {
	margin-bottom: 20px;
}

.restricted {
	color: #A31907;
}

.facet_name a {
	text-decoration: none !important;
}

.facets {
	margin-left: 15px;
	margin-bottom: 15px;
	line-height: 14px;
}

.facet_view_expand_toggle {
	font-weight: bold;
	font-size: 85%;
}

#facet_field_path_structure .structure.facet .structure_content {
	max-height: 300px;
}

.metadata table {
	clear: both;
	font-size: 12px;
	line-height: 17px;
	width: 100%;
	border: 1px solid #f5f5f5;
}

.metadata table + table, .metadata + div {
	margin-top: 20px;
}

.metadata table th,.metadata table td {
	padding: 7px 10px 7px 10px;
	vertical-align: top;
}

.metadata table td {
	padding: 7px 20px;
}

.metadata table th {
	width: 107px;
	color: #667;
	background-color: #fafafa;
}

.metadata table table {
	border-width: 0;
}

.metadata table table th, .metadata table table td {
	border-width: 0;
	background-color: transparent;
	padding: 0 0 7px 0;
}

.metadata table p span {
	text-indent: -1em;
	margin-left: 1em;
	display: block;
}

/* Tooltip styles */
.qtip-content {
	font-size: 11px;
	border: 1px solid #efefef;
}