<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2008 The University of North Carolina at Chapel Hill

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    metadata-complete="true"
    version="3.0" xmlns="http://java.sun.com/xml/ns/javaee">
    
    <display-name>Spoof</display-name>
    
    <!-- Setup the spoof page as a servlet -->
    <servlet>
        <servlet-name>spoof</servlet-name>
        <jsp-file>/WEB-INF/jsp/spoof.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>spoof</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <!-- Setup authentication detail page as servlet -->
    <servlet>
        <servlet-name>dump</servlet-name>
        <jsp-file>/WEB-INF/jsp/dump.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>dump</servlet-name>
        <url-pattern>/dumpheaders</url-pattern>
    </servlet-mapping>

</web-app>