a {
	cursor: pointer;
}

#pagewrap {
	min-width: 960px;
	width: inherit;
}

.contentarea.nobottom {
	margin-bottom: 0px;
}

.threecol {
	min-width: 720px;
	width: 75%;
}

#header_search {
	float: right;
	width: 200px;
}

.browseitem {
	border-top: 1px solid #eee;
}

.collection_list .browseitem > .contentarea {
	margin: 20px 0px;
}

.collection_list .browseitem h2 {
	margin-bottom: 15px;
}

.collection_list .browseitem > .contentarea > a {
	float: left;
	padding: 0px 20px 20px 0px;
	width: 128px;
	min-height: 128px;
}

.browseitem .itemdetails {
	margin-left: 155px;
	margin-right: 190px;
}

.browseitem .itemnavigation {
	float: right;
	width: 180px;
	padding-left: 10px;
}

.description_text {
	font-size: 13px;
	padding-bottom: 10px;
}

/** Review page **/

/*.review_page .browseitem {
	border-width: 0px;
}

.even {
	background-color: #fafafa;
}*/

.review_page .browseitem {
}

.even {
	background-color: #fff;
}

.selected {
	background-color: #f8f8ff;
}

.review_page .browseitem .itemdetails {
	margin-left: 30px;
}

.review_page .browseitem .itemnavigation {
	width: 110px;
}

.review_page .browseitem > .contentarea {
	margin: 5px 0px;
}

.review_page .browseitem:first-child {
	margin-top: 5px;
	border-top: 1px solid #eee;
}

#results_list_actions {
	margin-top: -5px;	
}

#results_list_actions p {
	display: inline;
	padding-right: 10px;
}

.browseitem .preview {
	/*color: #0A5274;*/
	display: inline;
	white-space: nowrap;
	font-size: 14px;
	line-height: 14px;
}

/** Edit page **/
.edit_page .preview {
	display: block;
	padding-top: 10px;
}

/** Light color theme **/

.shadowbottom {
	background-position: left 104%;
}

.dark {
	background-color: #FBFBFE;
}

.darkest {
	background-color: #DDF0FA;
	/* background-color: #DDEAF0; */
}

.dark a, .darkest a {
	color: #5AABCF;
}

div#username_wrap {
	color: #0A5274;
}

ul.secondarymenu li a {
	margin-right: 1px;
	background-color: #FFFFFF;
	border-right: 0px;
	border: 1px solid #D8EDf5;
	border-bottom: 0px;
	color: #0A5274;
	background-image: none;
}

ul#mainmenu li a {
	margin-right: 1px;
	border-right: 0px;
	background-color: #FFFFFF;
	border-right: 0px;
	border: 1px solid #D8EDf5;
	color: #0A5274;
	background-image: none;
}

/** Light color theme end **/


.browseitem.published {
}

.browseitem.unpublished {
	background-color: rgba(224, 206, 206, 0.2);
}

.browseitem.selected {
	background-color: #7DA1DB;
	color: #fff;
	box-shadow: 3px 3px 3px #99C5CF;
}

.browseitem.unpublished.selected {
	background-color: #8393C6;
}

.browseitem.selected h2 a {
	color: #ffffff;
}

.browseitem.selected a {
	color: #F9F9FF;
}

.browseitem.selected + .browseitem {
    border-top: 1px solid #6A88B7;
}

.browseitem.selected + .browseitem.selected {
	border-top: 1px solid #6A88B7;
}

.browseitem.working, .browseitem.followup {
	color: #B7B7B7;
}

.browseitem.working a, .browseitem.followup a {
	color: #B7B7B7;
}

.browseitem.working h2 a, .browseitem.followup h2 a {
	color: #B7B7B7;
}

.descriptivearea a {
	color: #0F80B3;
}


/* Result list */
.result_table {
	font-size: 14px;
	line-height: 18px;
	margin-top: 10px;
}

.result_table tr {
	border-bottom: 1px solid #EEEEEE;
}

.result_table tr.entry:hover {
	background-color: #f8f8ff;
}

.result_table tr.selected {
	background-color: #F4F4FD;
	border-bottom: 1px solid #DDDDDD;
}

.result_table tr.selected:hover {
	background-color: #f0f0fC;
}

.facetcol {
	margin-right: 20px;
}

.item_details {
	border: 1px solid #EEEEEE;
	width: 350px;
	float: right;
	padding: 8px;
	margin-left: 15px;
	margin-right: 4px;
}

.itemdetails .status {
	color: #999999;
	font-size: 11px;
	padding-right: 6px;
}

.result_table th {
	text-align: left;
	font-color: #889;
	font-size: 85%;
	padding: 4px 0px 0px;
	white-space: nowrap;
}

.result_table td {
	padding: 4px 8px 4px 0px;
}

td.check_box {
	width: 20px;
	padding-right: 4px;
}

td.type {
	width: 20px;
	padding-right: 4px;
}

td.itemdetails {
	width: 100%;
}

td.check_box * {
	vertical-align: text-bottom;
}

td.creator {
	min-width: 90px;
	max-width: 150px;
	font-size: 70%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

td.date_added {
	width: 70px;
	font-size: 70%;
}

td.type img {
	vertical-align: text-bottom;
}

td.menu_box {
	width: 20px;
	padding: 3px;
}

#results_list_actions {
	border-bottom: 0px solid #EEEEEE;
}

#results_list_actions td {
	margin-right: 0px;
	padding-right: 0px;
}

#results_list_actions p {
	vertical-align: bottom;
}

.action_menu {
	margin-bottom: 0px;
}

.action_menu li {
	list-style: none;
	margin-left: 0px;
	margin-bottom: 0px;
	text-indent: 0px;
	padding: 5px;
}

.action_menu li:hover {
	background-color: #eeeeff;
	color: #E98D60;
	text-decoration: underline;
	cursor: pointer;
}

.menu_box ul {
	display: none;
}


/* Loading overlay */
.load_modal {
	display: block;
	position: absolute;
	z-index: 10000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	background: rgba( 255, 255, 255, .8) 
                50% 50% 
                no-repeat;
}

.load_modal * {
	position: relative;
}

.load_modal.icon_large {
	background-image : url('/static/images/admin/loading-large.gif');
}

.load_modal.icon_small {
	background-image : url('/static/images/admin/loading-small.gif');
}

.loading {
	overflow: hidden;
}

/* Alerts */

.qtip-admin {
	-webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
	
	color: #111;
	border: 1px solid transparent;
	width: 360px;
	max-width: 360px;
	margin-right: 5px;
}

	.qtip-admin .qtip-content {
		border: 0px;
		padding: 12px;
		font-size: 13px;
	}

	.qtip-admin .qtip-close {
		top: 5px;
		right: 5px;
	}

	.qtip-admin.alert-error {
		background-color: #F78B83;
		border-color: #BE6B65;
	}
	
	.qtip-admin.alert-info {
		background-color: #FBFBFE;
		color: #0F80B3;
		border-color: #84CAE8;
	}
	
	.qtip-admin.alert-success {
		background-color: #ECF4E1;
		border-color: #A3BE7F;
	}
	
/* Suggestions */
.ui-autocomplete .ui-menu-item a {
  display: block;
  font-weight: normal;
  line-height: 1.5;
  min-height: 0;
  padding: 2px 0.4em;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  font-size: 12px;
}

/* Confirmation */
.no_titlebar .ui-dialog-titlebar {
	display: none;
}

.confirm_dialog {
	font-size: 12px;
}

.confirm_dialog .ui-dialog-content {
	padding: 0.5em 0.2em 0;
}

.confirm_dialog .ui-dialog-buttonpane {
	padding: 0.2em 0.2em 0.2em 0;
	border: 0;
	margin-top: 0;
}

.confirm_dialog .ui-button-text-only .ui-button-text {
	padding: 0.2em 0.7em;
}

.confirm_dialog .ui-dialog-buttonpane button {
	margin: 0.1em 0 0.1em 0.3em;
	background : #DDF0FA;
}