<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2008 The University of North Carolina at Chapel Hill

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<web-app 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
    id="WebApp_ID" version="2.5">
	
	<display-name>CDR SWORD Server</display-name>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
        	/WEB-INF/sword-servlet.xml
        </param-value>
	</context-param>

    <context-param>
        <description>
            The ServiceDocumentManager server implementation class name
        </description>
        <param-name>service-document-impl</param-name>
        <param-value>edu.unc.lib.dl.sword.server.managers.ServiceDocumentManagerImpl</param-value>
    </context-param>

    <!-- this can be omitted if the server does not wish to support listing collection contents -->
    <context-param>
        <description>
            The CollectionListManager server implementation class name
        </description>
        <param-name>collection-list-impl</param-name>
        <param-value>org.swordapp.server.CollectionListManagerImpl</param-value>
    </context-param>

    <context-param>
        <description>
            The CollectionDepositManager server implementation class name
        </description>
        <param-name>collection-deposit-impl</param-name>
        <param-value>org.swordapp.server.CollectionDepositManagerImpl</param-value>
    </context-param>

    <context-param>
        <description>
            The MediaResourceManager server implementation class name
        </description>
        <param-name>media-resource-impl</param-name>
        <param-value>org.swordapp.server.MediaResourceManagerImpl</param-value>
        
    </context-param>

    <context-param>
        <description>
            The ContainerManager server implementation class name
        </description>
        <param-name>container-impl</param-name>
        <param-value>org.swordapp.server.ContainerManagerImpl</param-value>
    </context-param>

    <context-param>
        <description>
            The StatementManager server implementation class name
        </description>
        <param-name>statement-impl</param-name>
        <param-value>org.swordapp.server.StatementManagerImpl</param-value>
    </context-param>

    <!-- This option here is an actual implementation of the configuration class, which
        contains some default values -->
    <context-param>
        <description>
            The SwordConfiguration server implementation class name
        </description>
        <param-name>config-impl</param-name>
        <param-value>edu.unc.lib.dl.sword.server.SwordConfigurationImpl</param-value>
    </context-param>

	<context-param>
		<description>
			The type of authentication used : [Basic|None]
		</description>
		<param-name>authentication-method</param-name>
		<param-value>Basic</param-value>
	</context-param>


    <!-- Servlets --> 
    <servlet>
        <servlet-name>servicedocument</servlet-name>
        <servlet-class>edu.unc.lib.dl.sword.server.servlets.ServiceDocumentServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>collection</servlet-name>
        <servlet-class>org.swordapp.server.servlets.CollectionServletDefault</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>mediaresource</servlet-name>
        <servlet-class>org.swordapp.server.servlets.MediaResourceServletDefault</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>container</servlet-name>
        <servlet-class>org.swordapp.server.servlets.ContainerServletDefault</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>statement</servlet-name>
        <servlet-class>org.swordapp.server.servlets.StatementServletDefault</servlet-class>
    </servlet>

    <!-- Servlet Mappings -->

    <servlet-mapping>
        <servlet-name>servicedocument</servlet-name>
        <url-pattern>/servicedocument/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>collection</servlet-name>
        <url-pattern>/collection/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>mediaresource</servlet-name>
        <url-pattern>/edit-media/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>container</servlet-name>
        <url-pattern>/edit/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>statement</servlet-name>
        <url-pattern>/statement/*</url-pattern>
    </servlet-mapping>

</web-app>