<div id="<%= entryId %>" class="entry_wrap<%= isRoot? ' root': '' %><%= (childEntries && childEntries.length > 0)? ' expanded': '' 
		%><%= isSelected? ' selected': '' %><%= _.contains(metadata.permissions, 'move')? " move_into" : "" %>">
	<% if (!hideEntry) { %>
		<div class="entry">
			<% if (isAContainer) { %>
				<div class="cont_toggle <%= toggleClass %>"></div>
			<% } %>
			<i class="<%= icon %>" title="<%= metadata.type %>"></i>
			<% var pathSize = metadata.objectPath.length,
			       parent;
				if (pathSize > 2) {
					parent = metadata.objectPath[pathSize - 2].pid;
				} else {
					parent = metadata.objectPath[0].pid;
				} %>
			<a href="<%- primaryAction %>" class="primary_action res_link"  data-type="<%= metadata.type %>"
			   data-id="<%= metadata.id %>" data-parent="<%= parent %>"><%= metadata.title %></a>
			
			<% if (downloadUrl && secondaryActions) { %>
				<p class="secondary_actions"><a href="<%= downloadUrl %>">Download</a></p>
			<% } %>
			<% if (childCount != null) { %>
				<span class="count">(<%= childCount %>)</span>
			<% } %>
		</div>
	<% } %>
	<% if (isAContainer || childEntries) { %>
		<div class="children">
			<% for (var i in childEntries) { %> 
				<%= childEntries[i].getTemplate() %>
			<% } %>
		</div>
	<% } %>
</div>