@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400i|Open+Sans:400,600');

$unc-blue: #4B9CD3;
$link-blue: #007FAE;
$unc-navy: #13294B;
$light-gray: #E1E1E1;
$dark-gray: #767676;
$black: #151515;

@mixin mobile-margin {
  @media only screen and (max-width: 1088px) {
    margin-left: 5px;
    margin-right: 16px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $link-blue;
}

.logo-row {
  background-color: $unc-blue;
}

.logo-row-small {
  background-color: $unc-blue;
  padding: 5px 0;
}

.menu-row, .banner-row, footer {
  background-color: $unc-navy;
}

.info-row {
  background-color: #F5F5F5;
}

.logo, .menu {
  padding: 12px 0; // 1rem = 16px
}

.logo, .logo-small {
  @include mobile-margin;
  a {
    display: inline-flex;
    align-items: center;
    max-width: 550px;
  }
  img {
    display: inline-block;
    max-width: 250px;
    width: 100%;
    margin: 8px 0;
  }
  h1 {
    display: inline-block;
    margin-left: 24px;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.7rem;
    font-style: italic;
    color: white;
    line-height: 1.5;
  }

  .info-btns {
    float: right;
    padding-top: 13px;

    a {
      margin-left: 10px;
    }
  }
}

.logo-large {
  a {
    max-width: 650px;
  }
}

.logo-small {
  a, i {
    color: white;
    font-size: 16px;
  }

  img {
    max-width: 150px;
  }

  h1 {
    font-size: 1.5rem;
  }
}

.navbar {
  box-shadow: 2px 2px 2px 0 #071730;
  a {
    color: white;
  }

  .is-active {
    background-color: $unc-navy;
  }
}

.menu-row-small {
  background-color: $unc-navy;
}

.search {
  a {
    margin-left: 10px;
  }
}

.menu-row-small.navbar {
  box-shadow: none;

  button {
    border-radius: 0 5px 5px 0;
    height: 35px;
    margin-left: -1px;
    border: 1px solid #dbdbdb;
  }

  .is-active {
    .navbar-item {
      color: black;
      padding: .35rem;
    }
  }

  .navbar-display {
    display: none;
  }

  .navbar-menu.is-active {
    background-color: white;
    margin-top: 65px;
    position: absolute;
  }
}

.banner-row {
  background-image: url(/static/front/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 10px black;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 300px;
  h2 {
    max-width: 700px;
    padding: 24px 32px;
    font-size: 2rem;
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,0.75);
    line-height: 1.5;
  }
  a.button {
    background-color: $unc-blue;
  }
}

header {
  .search {
    @include mobile-margin;
    display: flex;
    align-items: center;
    padding: 6px 0;

    label {
      position: absolute;
      width: 0;
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      overflow: hidden;
    }
    input {
      border: 1px solid lightgray;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      font-size: 1rem;
      height: 35px;
      padding: 7px;
      width: 100%;
    }

    a {
      flex-shrink: 0;
      color: white;
      font-size: 16px;
      &:hover, &:active {
        color: $unc-blue;
      }
    }
  }

  .search-row-large {
    background-color: $unc-navy;
  }

  .search-large {
    input, button {
      height: 40px;
    }

    input {
      font-size: 1.2rem;
    }

    button {
      border-radius: 0 5px 5px 0;
      margin-left: -1px;
      border: 1px solid #dbdbdb;
    }
  }
}

.collection-links {
  margin: 2rem 0;
}

.collection-link-row {
  display: flex;
  justify-content: center;
  &:not(:first-child) {
    margin-top: 32px;
  }
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 16px 0 16px;
    padding: 16px;
    border-radius: 16px;
    background-color: #e0e0e0;
    box-shadow: 2px 2px 2px #d5d5d5;

    &:hover {
      text-decoration-color: white;
    }
  }
  img {
    max-width: 300px;
    width: 100%;
  }
  span {
    display: inline-block;
    width: 100%;
    margin-top: 4px;
    font-size: 1.25rem;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.55);
    padding: 5px 0;
  }
  @media only screen and (max-width: 720px) {
    display: block;
    width: 100%;
    margin: auto 16px;
    &:not(:first-child) {
      margin-top: 0;
    }
    a {
      margin: 16px auto;
    }
  }
}

.info-row {
  box-shadow: inset 0 0 8px grey;
  .info {
    @include mobile-margin;
    padding: 24px 0;
    text-align: center;

    p {
      font-size: 1rem;
    }

    h3 {
      font-size: 1.5rem;
    }
  }
}

.info-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 16px 0;
  vertical-align: center;
  color: white;
  font-size: 1rem;

  a {
    color: white;
    padding: 0 16px 0 0;
    background-color: #3e2b4e;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div {
    display: flex;
    margin: 16px 12px;

  }

  i {
    width: 50px;
    margin-right:15px;
    padding: 12px;
    font-size: 1.5rem;
    background-color: #715f80;
  }
}

#about-repo {
  margin-bottom: 32px;
  padding: 0 16px;
  width: 100%;
}

footer {
  color: white;
  display: inline-flex;
  text-align: center;
  width: 100%;
  flex-wrap: wrap;

  .footer-menu {
    @include mobile-margin;
    padding: 12px 0;
  }

  a {
    color: white;
    font-size: 16px;
    &:hover, &:active {
      color: $unc-blue;
    }
  }
}

@media only screen and (min-width: 1088px) {
  .menu-row-small.navbar > .container {
    .navbar-menu {
      margin-right: 150px;
    }
  }

  .search-row {
    width: 100%;
  }

  header {
    .search {
      margin: auto;
    }
  }
}

@media only screen and (max-width: 1087px) {
  .menu-row-small.navbar > .container {
    display: inline-flex;
    flex-direction: row-reverse;
  }

  .menu-row-small.navbar {
    .navbar-menu.is-active {
      background-color: white;
      margin-top: 65px;
      position: absolute;
      z-index: 25;
    }
  }

  .search-row {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .info-btns {
    display: none;
  }

  header {
    .search {
      display: block;

      a {
        margin-left: 5px;
      }

      form {
        display: inline-flex;
      }
    }
  }

  .menu-row-small {
    .search {
      button {
        margin-right: 0;
      }

      a {
        margin-bottom: 5px;
        margin-right: -5px;
      }

      a, button {
        float: right;
      }
    }
  }

  .menu-row-small.navbar {
    .navbar-menu.is-active {
      margin-top: 50px;
    }

    .navbar-display {
      display: block;
    }
  }
}$unc-blue: #4B9CD3;
$light-gray: #E1E1E1;
$border-style: 1px solid $light-gray;
$box-shadow-color: rgba(211,211,211,0.5);
$box-shadow: inset 3px 3px 10px -1px $box-shadow-color, 0px 16px 22px -15px $box-shadow-color;

/* Items marked for deletion */
.marked-delete {
  color: #8CB4C6;

  &:hover {
    color: #8CB4C6;
  }

  img {
    opacity: .8;
  }
}

/**
*
* Search pages
*
**/
.search-query-text {
  margin: 40px 20px 40px 25px;
  font-size: 24px;

  h2 {
    color: black;
    font-size: 28px;;
    font-weight: bold;
    min-height: 40px;
  }

  h2 span.query-request {
    font-style: italic;
    font-weight: normal;
  }
}

a.search-result-num {
  background-color: #1A698C;
  color: white !important;
  padding: 15px;
  font-weight: bold;

  &:hover {
    background-color: $unc-blue;
    color: white;
    text-decoration: none;
  }
}

.search-result-selected {
  background-color: gray;
  color: white !important;
  padding: 15px;
  font-weight: bold;

  &:hover {
    background-color: #B0B0B0;
    color: white;
    text-decoration: none;
  }
}

.facets {
  margin-bottom: 30px;
}

.check-facet {
  height: 25px;
  width: 25px;
}

.facet-padding {
  padding-left: 15px;
}

.facet-header {
  color: black;
  font-size: 20px;
  padding: 30px 0 20px 0;
}

label.checkbox {
  float: none;
  width: 100%;
}

.search-results-border {
  border-bottom: $border-style;
  border-left: $border-style;
  padding-left: 15px;
  padding-right: 0;
}

p.spacing {
  font-size: 1.2rem;
  margin-bottom: 50px;
  text-align: center;
}

.bottomline {
  display: inline-flex;

  p {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    width: 70%;
  }
}

.browseitem {
  font-size: 16px;
  padding-left: 25px;

  h2 {
    font-size: 20px;
  }

  p, span {
    font-size: 16px;
  }
}

.searchitem {
  font-size: 16px;
  padding: 25px;
}

#list-records-display {
  .searchitem_container_count {
    background-color: $unc-blue;
    border: 1px solid $unc-blue;
    border-radius: 5px;
    color: white;
    line-height: 18px;
    margin-bottom: 4px;
    padding: 3px 8px;
    white-space: nowrap;
    width: 100%;
  }
}

.iteminfo {
  float: none;
  margin-top: 5px;
  width: 100%;
  font-size: 16px;

  h2 {
    font-size: 20px;
  }

  h2 > span {
    padding: 3px 5px;
    font-size: 16px;
  }
}

h2.iteminfo {
  line-height: 30px;
  margin-bottom: 20px
}

.border-box-left-top {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

.shadowtop + .facet-padding {
  margin-top: 125px;
}

.search-pagination-bottom {
  margin: 20px auto;
  text-align: center;
}

p.no-search-results {
  font-size: 14px;
}

#advanced-search-form {
  p {
    font-size: 12px;
  }
}

/* Collection Page */
.browse-header {
  background-color: #EBEBEB;
  box-shadow: inset 0 10px 5px -5px rgba(0, 0, 0, .5);
  color: #3D4D5B;
  margin: 0;
  padding: .75rem;

  h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 15px;

    span {
      color: #707070;
      font-size: 20px;
      font-weight: normal;
      margin-left: 10px;
    }
  }

  p {
    color: black;
    font-size: 18px;
    line-height: 22px;
    margin-left: 25px;
  }
}

.browse-header.browse-header-bottom {
  padding-bottom: 25px;
}

.search-query-text.collection-list {
  margin-bottom: 0;
}

.collection-browse {
  .browseitem {
    background-color: #f7f7f7;
    margin: 10px 15px;
    width: 98%;
  }

  .searchitem_container_count {
    background-color: inherit;
    border: none;
    color: gray;
    font-size: inherit;
  }

  &:last-child {
    margin-bottom: 50px;
  }
}

/* Full record page */
.columns {
  width: 100%;
}

.display-wrapper {
  display: inline-flex;
  margin: 5px 25px 10px 0;
  width: 100%;

  p, a {
    font-size: 20px;
  }

  div {
    &:hover {
      cursor: grab;
      text-decoration: none;
      z-index: 100;

      span.browse-tip, .arrow {
        display: block;
        opacity: 1;
      }

      span.browse-tip {
        background-color: white;
        border: 1px solid darkslategray;
        border-radius: 5px;
        color: black;
        font-weight: normal;
        margin: 0 0 10px -65px;
        padding: 10px;
        text-align: left;
        width: 240px;

        p {
          font-size: 14px;
        }
      }
    }

    .arrow {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 10px solid darkslategray;
      height: 0;
      margin: 7px 2px 0 2px;
      width: 0;
    }

    span.browse-tip, .arrow {
      display: none;
    }
  }

  button {
    margin-left: 10px;
    margin-top: -10px;
  }

  .display-note-btn {
    background-color: $unc-blue;
    border: 1px solid $unc-blue;
    border-radius: 100%;
    color: white;
    font-weight: bold;
    height: 25px;
    margin-left: 5px;
    margin-top: -5px;
    padding: 4px 5px;
    text-align: center;
    width: 25px;
  }
}

.file_record {
  .columns {
    width: 100%;
  }
}

.collection-info-bottom {
  padding: 0 5px 5px 5px;
  margin: -12px 0 0 0;
}

/* Work page */

.jp2_imageviewer_window {
  margin: 15px;
  width: auto;
}


/* DataTables  */
#child-files_wrapper div {
  margin: 15px 0 !important;
}

#child-files_filter label {
  float: right;
  width: 250px;
}

.input::placeholder, .input {
  color: black;
}

.dataTables_wrapper {
  margin-bottom: 50px;
}

.child-records {
  font-size: 16px;
  margin: 50px 50px 75px 50px;

  h3 {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .fa.default-img-icon {
    font-size: 32px;
    color: #1A698C;
  }

  .is-icon {
    background-color: #1A698C;
    border: 1px solid #1A698C;
    border-radius: 5px;
    color: white;
    padding: 7px;
  }
}

.onecol, .content-wrap.full_record {
  width: 100%;

  h2 {
    font-size: 2.5rem;
    line-height: 1;
    margin: 0 20px 20px 0;
    padding-left: 0;
  }

  h2 {
    margin-left: 25px;
  }

  h2.link-list {
    font-size: 20px;
    padding-left: 15px;
    padding-top: 10px;
  }

  .browse-header {
    h2.item-title {
      padding-left: 15px;
    }
  }

  .relateditem {
    p {
      font-size: 16px;
    }
  }

  .aggregate-info {
    .is-narrow-tablet {
      margin-left: 25px;
    }
  }
}

.contentarea {
  margin: 20px;
}

.item-title {
  font-size: 36px;
}

.item-actions {
  padding-right: 25px;
}

.full_record_top {
  border-bottom: 1px solid $light-gray;
  padding-bottom: 25px;

  .collinfo {
    width: 100%;
  }

  .item-info {
    margin-left: 15px;
  }

  .columns {
    margin-bottom: 0;
  }

  .action-btn {
    padding-right: 50px;
  }

  .bottomline {
    padding: .75rem;
  }
}

.full_record {
  .contentarea {
    margin: 0;
  }

  .contentarea-aggregate {
    .collinfo_metadata {
      margin: 25px;
      width: 100%;
    }

  }
}

#full_record_trail {
  border: 1px solid #E0E0E0;
  background-color: #E0E0E0;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.2;
  margin: 0 auto 25px auto;
  padding: 20px;
  text-indent: 0;
  width: 100%;

  a {
    color: #1A698C;
  }
}

#expand-breadcrumb {
  font-size: 24px;
}

.actionlink {
  a {
    color: white;
  }
}

.actionlink.view {
  max-width: 60px;

  a {
    margin: auto;
  }
}

table.dataTable {
  tbody {
    tr.odd {
      background-color: #E1E8FF;
    }
  }
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  border-radius: 5px;
}

.item-actions {
  .actionlink {
    a {
      font-size: 16px;
      padding: 15px 15px 30px 15px;
      vertical-align: middle;
    }
  }
}

.collinfo_metadata {
  margin: 0 0 20px 0;

  h2 {
    font-size: 24px;
  }

  ul {
    font-size: 16px;
  }
}

#child-files {
  border: $border-style;
  border-collapse: collapse;
  width: 100%;
  word-wrap: break-word;

  thead {
    font-weight: bold;
  }

  th {
    border: $border-style;
  }

  td {
    border-left: $border-style;
    border-right: $border-style;
  }

  th, td {
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
  }
}

#is-folder {
  .is-12 {
    padding-top: 0;
  }
}

.columns-resize {
  padding-left: 25px;

  .is-10 {
    padding-left: 25px;
  }
}

.aggregate-info {
  padding-left: 0;

  .thumbnail-preview {
    padding-left: 15px;
  }
}

.pipe_list {
  margin-bottom: 10px;
}

/* Bulma overrides */
.select {
  margin-bottom: 15px;
}

/*** End of Bulma overrides ***/

/* Following Bulma breakpoints */
@media screen and (max-width: 1215px) {
  .collection-browse {
    .browseitem {
      margin: 10px auto;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .bottomline {
    display: block;

    p {
      width: 100%;
    }
  }

  .actionlink {
    margin-bottom: 1px;
  }

  .pipe_list {
    margin-left: 15px;
  }

  .select.is-medium {
    font-size: 1.05rem;
  }

  #child-files_wrapper {
    overflow-x: scroll;
  }

  .collection-info-bottom {
    margin: 0 25px 25px 25px;
  }
}

@media screen and (max-width: 768px) {
  .facet-padding {
    padding-left: 5px;
  }

  a.search-result-num {
    display: inline-block;
    margin-top: 15px;
  }

  .bottomline {
    p {
      font-size: 16px;
      margin-left: 10px;
      width: 100%;
    }
  }

  .light {
    float: none;
  }

  .file_record {
    .item-actions {
      padding-left: 40px;
    }
  }

  #is-admin-unit.browse-header, #is-collection.browse-header {
    display: flex;
  }

  .actionlink.right {
    float: left;
  }

  .collinfo_metadata {
    margin: auto 0;
  }
  .item-title {
    margin-bottom: 0;
  }

  .columns-resize {
    margin-top: 50px;
    padding-bottom: 50px;

    .thumbnail {
      margin-right: 35px;
    }

    .is-10 {
      padding-left: 0;

      ul {
        margin-top: -25px;
      }
    }
  }

  .action-btn {
    padding-left: 40px;
    padding-top: 0;
  }

  .aggregate-record.browse-header {
    .action-btn {
      padding-left: 30px;
    }
  }

  .dataTables_wrapper {
    .dataTables_filter {
      float: left !important;

      input {
        margin-left: 0 !important;
        margin-top: 25px;
        float: left;
      }
    }
  }
}

/* CDR custom breakpoint */
@media screen and (max-width: 600px) {
  .contentarea {
    float: none;
    width: 100%;

    a {
      float: none;
      width: 100%;
    }

    h2 {
      .fa {
        display: none;
      }
    }
  }

  .file_record {
    .columns-resize {

      .is-10 {
        ul {
          margin-top: 0;
        }
      }
    }
  }

  .relateditem {
    margin-left: 5px;
    margin-right: 5px;
  }

  .iteminfo {
    float: none;
    width: 100%;
  }

  .file-info {
    float: none;
    width: 100%;

    p, .actionlink, .right {
      float: none;
      text-align: left;
    }

    .actionlink a {
      margin-top: 15px;
    }
  }

  .facets {
    word-wrap: break-word;
  }

  .collection-info-bottom {
    margin: 0;
    word-break: break-all;
  }
}