.edit_form {
	float: none;
	font-size: 13px;
	background-color: fff;
	font-family: Verdana,Arial,sans-serif;
}

.edit_form .form_field {
	padding-left: 5px;
	text-align: left;
	margin-bottom: 10px;
}

.edit_form .file_info {
	margin-left: 190px;
	color: #777799;
}

.edit_form h3 {
	font-size: 85%;
	font-weight: bold;
	color: #555;
	text-align: left;
	padding-top: 5px;
}

.edit_form label {
	text-align: right;
	width: 160px;
	display: inline-block;
	margin-right: 20px;
}

.edit_form label.form_inline {
	text-align: left;
	width: 100%;
}

.edit_form input, .edit_form textarea, .edit_form select {
	background-color: #FFFFFF;
	border: 1px solid #C8D8E0;
	color: #666666;
	padding: 2px;
}

.edit_form input[type="file"] {
	border-width: 0;
}

.edit_form .update_button {
	background-color: #165D7F;
	color: #fff;
	padding: 4px 8px;
	background-image: linear-gradient(to bottom, #72AAC3, #3E8DB0);
	border: #3E8DB0;
	margin: 10px 0px 0px 0px;
}

.edit_form .update_button:active {
	background-image: linear-gradient(to bottom, #3E8DB0, #72AAC3);
	box-shadow: 2px 2px 2px #555555 inset;
	color: #ddd;
	border: #245266;
}

.update_field {
	text-align: right;
}

.edit_form a {
	text-decoration: none;
	color: #0A5274;
	border-bottom: 1px dashed #0A5274;
	cursor: pointer;
}

.edit_form .errors {
	display: none;
}

.edit_form .error_stack {
	white-space: pre;
	text-align: left;
}

.edit_form .error_message {
	text-align: left;
}

.edit_form p {
	padding-top: 7px;
	text-align: left;
}

/** Edit ACL */

.edit_acls .roles_granted {
	margin: 5px 0px 0px 5px;
	font-size: 85%;
	border-top: 1px dashed #EFEFEF;
}

.roles_granted tr:first-child td {
	padding-top: 5px;
}

.roles_granted td {
	vertical-align: top;
	text-align: left;
	padding-bottom: 5px;
	line-height: 1.4em;
}

.roles_granted td a {
	border-bottom: 0px;
}

.roles_granted td span {
	padding-right: 10px;
}

.roles_granted .role {
	width: 160px;
	text-align: right;
	padding-right: 20px;
}

.roles_granted .inherited {
	color: #9f9f9f;
}

.roles_granted.inheritance_disabled .inherited {
	text-decoration: line-through;
}

.roles_granted select {
	text-align: right;
}

.edit_role_granted td {
	text-align: right;
}

.add_role_granted {
	display: none;
}

/** Create container */
#create_container_form {
	margin-top: 10px;
}

#create_container_form label {
	width: 135px;
}

/** Create simple object */
.create_simple_object_form label {
	width: 70px;
}

.ui-autocomplete {
	max-height: 7em;
	overflow-y: auto;
}

/** Edit Label Form */
#edit_label_form {
	margin-top: 10px;
}

#edit_label_form label {
	width: 135px;
}

/** Edit Description */
#xml_editor {
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	font-size: 14px;
	background-color: #fff;
}

#xml_editor .xml_node li {
	text-indent: 0px;
	margin-left: 0px;
}

.templating {
	margin-left: 0;
	font-size: 15px;
}

.template-form .ui-dialog-titlebar {
	margin: 0;
}

.template-form.ui-dialog {
	padding: 0;
}

.template-form .fa {
	font-size: 37px;
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
	vertical-align: top;
}

.template-form :focus {
	outline: 0;
}

.template-form .ui-dialog-buttonpane {
	margin: 0;
}

.ui-dialog.template-form .ui-button {
	margin: 0px;
	background: transparent linear-gradient(to bottom, rgb(114, 170, 195), rgb(62, 141, 176)) repeat scroll 0% 0%;
	border: medium none #3E8DB0;
	color: white;
	padding: 4px 8px;
	border-radius: 0;
	margin-right: 6px;
	font-size: 14px;
}

.template-form .ui-button-text-only .ui-button-text {
	padding: 0;
}

.template-form .ui-dialog-title {
	font-size: 18px;
	margin: 0;
}


.collection_settings {
	text-align: left;
}

.collection_settings .update_field {
	font-size: 150%;
	font-weight: bold;
}

.collection_name {
	margin-left: 10px;
	font-size: 15px;
}

.select_area {
	margin-left: 10px
}

.selectable_multi .default::after {
	content : "default";
	font-size: 80%;
	margin-left: 7px;
	color: #009;
}

.selectable_multi .custom::after {
	content : "custom";
	font-size: 80%;
	margin-left: 10px;
	color: #080;
}

.selectable_multi {
	border: 1px solid #ccc;
	width: 50%;
	display: inline-block;
}

.selectable_multi li {
	font-size: 14px;
	text-decoration: line-through;
	text-decoration: none;
	padding: 5px 8px;
	margin: 0;
	text-indent: 0;
	background-color: #f5f5f5;
	color: #888;
}

.selectable_multi li + li {
	border-top: 1px solid #ddd;
}

.selectable_multi li span {
	margin-left: 8px;
	font-size: 80%;
}

.selectable_multi .selected {
	text-decoration: none;
	background-color: white;
	color: #000;
}
	
.selectable_multi_actions {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin-left: 6px;
}

.selectable_multi_actions input {
	background-color: #72AAC3;
	color: #FFF;
	padding: 4px 8px;
	border: medium none #3E8DB0;
	margin: 0px 0px 6px 0px;
	border-radius: 4px;
}

.selectable_multi .highlighted {
	background: -moz-linear-gradient(left,  #f0f0fc 0%, #f0f0fc 67%, #f5f5f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f0f0fc), color-stop(67%,#f0f0fc), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #f0f0fc 0%,#f0f0fc 67%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #f0f0fc 0%,#f0f0fc 67%,#f5f5f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #f0f0fc 0%,#f0f0fc 67%,#f5f5f5 100%); /* IE10+ */
	background: linear-gradient(to right,  #f0f0fc 0%,#f0f0fc 67%,#f5f5f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0fc', endColorstr='#f5f5f5',GradientType=1 ); /* IE6-9 */
}

.selectable_multi .selected.highlighted {
	background: -moz-linear-gradient(left,  #f0f0fc 0%, #f0f0fc 67%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f0f0fc), color-stop(67%,#f0f0fc), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #f0f0fc 0%,#f0f0fc 67%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #f0f0fc 0%,#f0f0fc 67%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #f0f0fc 0%,#f0f0fc 67%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to right,  #f0f0fc 0%,#f0f0fc 67%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0fc', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.no_text_select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/** Run enhancements */
#run_enhancements_form.edit_form {
	text-align: left;
}

#run_enhancements_form p {
	font-size: 13px;
}

#run_enhancements_form span {
	white-space: nowrap;
	margin-top: 1em;
}

#run_enhancements_form label {
	width: auto;
	font-weight: bold;
	color: #555;
}

#run_enhancements_form #run_enhancements_force {
	margin-left: 0;
	margin-right: 0.5em;
}