/** Status manager */

#status_monitor {
	padding: 10px;
	white-space: nowrap;
	border: none;
}

#status_monitor .ui-tabs-panel {
	padding: 10px 0;
}

#status_monitor .ui-tabs-nav .ui-state-default {
	border: 1px solid #C8D8E0;
	border-radius: 12px;
	background: #ffffff;
	font-size: 17px;
	text-indent: 0;
	margin-right: 12px;
}

#status_monitor .ui-tabs-nav .ui-state-default.ui-tabs-active {
	background: #59AACE;
	border: 1px solid #0F80B3;
	box-shadow: 0 0 8px 0 #55ABE0;
}

#status_monitor .ui-tabs-nav .ui-tabs-active a {
	color: #ffffff;
}

#status_monitor .ui-tabs-nav li a:focus {
	outline: none;
}

#status_monitor .ui-tabs-nav li a {
	float: none;
	padding: 6px 10px;
	display: inline-block;
}

/** Default table settings */

#status_monitor table {
	width: 100%;
	margin-bottom: 10px;
	table-layout: fixed;
	font-size: 12px;
	border-collapse: separate;
	border-spacing: 0;
	box-sizing: border-box;
}

@media (min-width: 1600px) {
	#status_monitor table {
		font-size: 13px;
	}
}

@media (max-width: 1100px) {
	#status_monitor table {
		font-size: 11px;
	}
}

#status_monitor table tr.column_headers {
	background-color: #FBFBFE;
	color: #000000;
	cursor: default;
}

.column_headers_shadow {
	position: absolute;
	box-shadow: 0 4px 6px -6px #AAAAFF;
	height: 1px;
	top: 0;
	left: 0;
	height: 30px;
	width: 100%;
}

#status_monitor table th {
	vertical-align: middle;
}

#status_monitor table th, td {
	padding: 6px 10px;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

/** Job details view */

.status_details {
	display: none;
	border: 1px solid #C8D8E0;
	border-radius: 6px 6px 0 0;
	background-color: #ffffff;
}


.show_details .status_details {
	display: inline-block;
	margin-left: 20px;
	width: 47%;
	width: calc(50% - 20px);
	width: -webkit-calc(50% - 20px);
	vertical-align: top;
}

.status_details_wrapper {
	position: relative;
}

.status_details_header {
	width: 100%;
	border-bottom: 1px solid #C8D8E0;
	border-radius: 6px 6px 0 0;
	box-shadow: 0 4px 6px -6px #AAAAFF;
	background-color: #FBFBFE;
	display: inline-block;
	white-space: normal;
}

.status_details_header > h1 {
	display: inline-block;
	padding: 6px 10px;
}

.status_details_header > a {
	display: inline-block;
	float: right;
	padding: 6px 10px;
	text-decoration: underline;
}

.status_details_content {
	padding: 10px;
	overflow-x: auto;
	white-space: normal;
}

.status_details p {
	color: #000;
	text-indent : -20px;
	padding-left: 20px;
}

.status_details p > label {
	font-weight: bold;
	color: #444;
	padding-right: 8px;
}

.status_details a {
	text-decoration: underline;
}

.status_details h3 {
	font-size: 1.1em;
	display: inline-block;
	color: #222;
}

.status_details pre.stacktrace {
	white-space: pre;
	font-family: monospace;
}


/** Jobs table */

#status_monitor .status_monitor_jobs tr.column_headers {
	background: linear-gradient(to bottom, #FFFFFF, #F5F5FE);
	background: -webkit-linear-gradient(to bottom, #FFFFFF, #F5F5FE);
	background-color: #fff;
}

.status_monitor_jobs tr:first-child th {
	border-bottom: 1px solid #C8D8E0;
}

.status_monitor_job_container {
	overflow-x: hidden;
	position: relative;
	box-shadow: 3px 7px 10px 0px #f0f0FF;
	border-radius: 6px;
	margin-bottom: 10px;
}

.show_details .status_monitor_job_container {
	width: 50%;
	float: left;
}

.status_monitor_jobs tr {
	cursor: pointer;
}

.status_monitor_jobs tr.selected {
	background-color: #f5f5ff;
	cursor: default;
}

.status_monitor_jobs .monitor_job.active {
	background-color: #ddffdd;
}

.status_monitor_jobs .monitor_job.active td:first-child, .status_details .active {
	color: #000000;
	text-transform: lowercase;
}

.status_monitor_jobs .monitor_job.queued td:first-child, .status_details .queued {
	color: #888888;
	text-transform: lowercase;
}

.status_monitor_jobs .monitor_job.finished td:first-child, .status_details .finished {
	color: #00AA00;
	text-transform: lowercase;
}

.status_monitor_jobs .monitor_job.failed td:first-child, .status_details .failed {
	color: #DD0000;
	text-transform: lowercase;
}

.status_monitor_jobs .col_Status {
	width: 7em;
}

/** Overview panel */

.status_monitor_overview tr:first-child th {
	border-top: 1px solid #C8D8E0;
	border-bottom: 1px solid #C8D8E0;
}

.status_monitor_overview tr:last-child td {
	border-bottom: 1px solid #C8D8E0;
}

.status_monitor_overview tr th:first-child,
.status_monitor_overview tr td:first-child {
	border-left: 1px solid #C8D8E0;
}

.status_monitor_overview tr th:last-child,
.status_monitor_overview tr td:last-child {
	border-right: 1px solid #C8D8E0;
}

#status_monitor table tr:first-child th:first-child {
    border-top-left-radius: 6px;
}

#status_monitor table tr:first-child th:last-child {
    border-top-right-radius: 6px;
}

#status_monitor table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

#status_monitor table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

/** Ingest monitor */

#ingest_monitor_jobs .col_Submitter {
	width: 8em;
}

#ingest_monitor_jobs .col_Submit_time {
	width: 14em;
}

#ingest_monitor_jobs .col_Ingested {
	width: 8em;
}

.show_details #ingest_monitor_jobs .col_Note {
	width: 0;
}

.show_details #ingest_monitor_jobs td:last-child, .show_details #ingest_monitor_jobs th:last-child {
	width: 0;
	visibility: hidden;
}

.status_details .error_message {
	color: #111;
	background-color: #f7b2ac;
	padding: 6px 8px;
	text-indent: 0;
	font-style: normal;
}

.status_details .error_message label {
	color: #d00;
}

.status_details .ingested_files {
	padding-left: 1.5em;
}

.status_details .ingested_files > li {
	font-style: italic;
	color: #777;
}

.status_details .ingested_files > li  > span {
	font-style: normal;
	color: #000;
	padding-right: 1em;
}

.status_details .active .ingested_files > li:first-child span {
	color: #00AA00;
}

.status_details .failed .ingested_files > li:first-child span {
	color: #D00;
}

.status_details .active .ingested_files > li:first-child::before, .status_details .failed .ingested_files > li:first-child::before {
	font-style: normal;
	content: "\25B8  ";
}

/** Enhancement monitor */
#enhancement_monitor_jobs .col_Triggered_by {
	width: 8em;
}

#enhancement_monitor_jobs td {
	border-bottom: 1px solid #f5f5ff;
}

#enhancement_monitor_jobs .active_service {
	font-weight: bold;
}