/* peek */

#peek {
	width: 100%;
	margin: 0;
	height: 300px;
	min-width: 960px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	background: url(/static/front/static.png);
	background:
	url(/static/front/bottom-gradient.png) bottom repeat-x,
	url(/static/front/top-gradient.png) top repeat-x,
	url(/static/front/static.png) center top;
}

/* basics */

#front {
	width: 960px;
	margin: 0 auto;
	color: #000;
	font-family: helvetica;
	text-align: left;
	font-size: 16px;
}

#front p {
	font-size: 100%;
	line-height: 1.3;
	margin: 10px 0 0 0;
}

#front h1,
#front h2,
#front h3 {
	color: #111;
	font-family: "Avenir Next", helvetica, sans-serif;
	font-weight: 600;
	line-height: 1.2;
	margin: 10px 0 0 0;
}

#front h2 {
	font-size: 150%;
}

#front h3 {
	font-size: 125%;
}

#front b {
	font-weight: bold;
}

#front a {
	color: #1d759f;
	text-decoration: underline;
}

#front hr {
	width: 960px;
	border: none;
	height: 1px;
	background: #ccc;
	margin: 30px auto;
}

/* rows */

#front .row {
	margin: 20px auto 30px auto;
	width: 960px;
	font-size: 16px;
}

#front .row:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#front .row .half {
	float: left;
	width: 430px;
	margin-left: 30px;
}

#front .row .full {
	float: left;
	width: 900px;
	margin-left: 30px;
}

/* buttons */

#front .button {
	margin-top: 25px;
	margin-bottom: 10px;
}

#front .button a {
	text-decoration: none;
	color: #fff;
	background: #1d759f;
	padding: 10px 35px 11px 20px;
	border-radius: 28px;
	position: relative;
	white-space: nowrap;
	text-decoration: none !important;
	font-family: helvetica;
}

#front .button a:after {
	content: "";
	display: block;
	width: 14px;
	height: 22px;
	background: url(/static/front/chevron-small-white.png);
	position: absolute;
	top: 50%;
	margin-top: -11px;
	right: 12px;
}

#front .button a:hover {
	background: #0c3f60;
}

/* headline */

#front-headline {
	position: absolute;
	width: 100%;
	z-index: 1;
	top: 50%;
	margin-top: -70px;
}

#front-headline h1 {
	display: inherit;
	background: #000;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	width: 750px;
	margin: auto;
	text-align: center;
	font-size: 300%;
	line-height: 1.2;
	padding: 25px 0;
	font-family: "Avenir Next", helvetica, sans-serif;
	font-weight: 600;
}

/* points */

#front #front-points {
	font-size: 110%;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#front-points table {
	border-collapse: collapse;
	margin: 10px 0 0px -10px;
}

#front-points td {
	vertical-align: top;
	padding: 5px 0;
	line-height: 1.2;
}

#front-points .illustration {
	padding-right: 10px;
}

#front-points .illustration img {
	display: block;
	margin-top: 10px;
}

#front-points h2 {
  margin: 20px 0 0 0;
}

/* how to */

#front #open-access {
	background: #eee;
	padding: 10px 30px 30px 30px;
	width: 350px;
}

#front #open-access h2 {
	font-size: 135%;
}

#front #open-access .button {
	text-align: left;
	font-size: 16px;
	margin-bottom: 25px;
}

#front #open-access .button a {
	background: #F36D11;
}

#front #open-access hr {
	width: auto;
	border: none;
	height: 1px;
	background: #ccc;
	margin: 30px auto 15px auto;
}

/* case study */
#images_all {
	width: 50%;
	clear: left;
	float: left;
}

#front-case-study h2, #front #full_text {
	float: right;
	width: 50%;
	display: block;
	margin-top: 0;
}

#front-case-study h2 i {
	font-weight: 500;
	color: #777;
	text-transform: uppercase;
	font-size: 85%;
	font-style: normal;
}

#front-case-study #full_text {
	margin-top: 10px;
	line-height: 1.3;
}

#front-case-study #full_text p {
	width: 100%;
}

#front-case-study .wp-caption {
	max-width: 96%;
	padding: 13px 10px 10px;
	text-align: center;
	position: relative;
}

#front-case-study .wp-caption:hover
#front-case-study .wp-caption-text:hover	{
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
}

#front-case-study .button {
	margin-top: 20px;
}

#front-case-study .wp-caption-text {
	background: rgba(255, 255, 255, 0.7);
	font-size: 14px;
	padding: 10px 20px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	text-align: center;
	width: 395px;
}

#front-case-study .wp-caption-text b {
	display: block;
	font-size: 16px;
	margin-bottom: 5px;
}

/* collections */

#front-collections table img {
	width: 50px;
	height: 50px;
}

#front-collections table {
	border-collapse: collapse;
	border: hidden;
	width: 430px;
	margin-top: 10px;
}

#front-collections table a {
	display: block;
	font-size: 80%;
	margin: 0;
}

#front-collections table img {
	display: block;
	margin: 0;
}

#front-collections table td {
	border: 5px solid #fff;
	padding: 0;
	vertical-align: middle;
}

#front-collections table td.title {
	width: 50%;
	border-left-width: 8px;
}
