/* required styles for peek-created elements */

.peek-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.peek-columns {
  position: absolute;
  height: 100%;
  left: 50%;
}

.peek-column {
  position: absolute;
  top: 0;
  height: 100%;
}

/* custom */

#peek .item {
  position: relative;
}

#peek .item a {
  display: block;
  padding: 5px;
}

#peek .item img {
  display: block;
  background: #000;
}

#peek .description {
  position: absolute;
  bottom: 5px;
  width: 185px;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  font-family: helvetica, verdana, sans-serif;
  font-size: 12px;
  line-height: 14px;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

#peek .description .title {
  font-weight: bold;
  margin: 5px;
}

#peek .description .other {
  margin: 5px;
}

#peek .description {
  display: none;
}

#peek .item:hover .description {
  display: inherit;
}

#peek .item:hover .image {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Enter and exit fullscreen */

#peek-enter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/static/images/clear.gif);
  z-index: 1;
  cursor: pointer;
  background:
    url(/static/front/bottom-gradient.png) bottom repeat-x,
    url(/static/front/top-gradient.png) top repeat-x;
}

#peek-exit {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
}

#peek-enter .button a,
#peek-exit .button a {
  text-decoration: none;
  color: #fff;
  background: #111;
  padding: 10px 35px 11px 20px;
  border-radius: 28px;
  position: relative;
  white-space: nowrap;
  text-decoration: none !important;
  font-family: helvetica;
  font-size: 18px;
  line-height: 1;
}

#peek-enter .button {
  display: none;
}

#peek-enter:hover .button {
  display: inherit;
}

#peek-exit .button a {
  padding: 10px 20px 11px 35px;
}

#peek-enter .button a:after,
#peek-exit .button a:after {
  content: "";
  display: block;
  width: 14px;
  height: 22px;
  background: url(/static/front/chevron-small-white.png);
  position: absolute;
  top: 50%;
  margin-top: -11px;
  right: 12px;
}

#peek-exit .button a:after {
  left: 12px;
  background: url(/static/front/chevron-small-white-reverse.png);
}

#peek-enter:hover .button a,
#peek-exit:hover .button a {
  background: #333;
}

#peek-enter .button {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -24px;
}

#peek-exit .button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 0 10px 5px;
}

/* Fullscreen styles */

body.peek {
  overflow: hidden;
}

body.peek #content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body.peek #peek {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

body.peek #peek-enter {
  display: none;
}

body.peek #peek-exit {
  display: inherit;
}

body.peek #header, body.peek #footer, body.peek #front {
  display: none;
}

/* active */

#peek.active {
  background: #ccc;
}

#peek-enter {
  display: none;
}

#peek.active #peek-enter {
  display: inherit;
}

body.peek #peek.active #peek-enter {
  display: none;
}

body.peek #peek.active #front-headline {
  display: none;
}

#peek-enter .button {
  position: absolute;
  top: auto;
  bottom: 0;
  text-align: right;
  margin-bottom: 20px;
}

#peek-enter .button a {
  margin-right: 10px;
}
