# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build

on:
  push:
    branches:
      - "**"
  pull_request:
    branches: [main]

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        ports:
          - 6379/tcp

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Checkout submodules
      run: git submodule update --init --recursive
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
    - name: Build with Maven
      run: mvn -B -U clean install -DskipTests
    - name: Verify DCR modules
      run: mvn verify -pl access,access-common,admin,deposit,fcrepo-clients,metadata,persistence,security,services,services-camel,solr-ingest,solr-search,sword-server,migration-util

    - name: Set up nodejs
      uses: actions/setup-node@v2
      with:
        node-version: '12'
    - name: Cache npm modules
      uses: actions/cache@v2
      with:
        path: ~/.npm
        key: v1-npm-deps-${{ hashFiles('**/package-lock.json') }}
        restore-keys: v1-npm-deps-
    - run: npm install
    - run: npm install -g @vue/cli@4.5.7
    - run: npm --prefix static/js/vue-cdr-access install
    - run: npm --prefix static/js/admin/vue-permissions-editor install
    - run: npm --prefix static/js/vue-cdr-access run test:unit
    - run: npm --prefix static/js/admin/vue-permissions-editor run test:unit
